body {
  background-color: #121212;
  color: #f0f0f0;
}

a {
  color: #80cbc4;
}

header, footer {
  background: #1e1e1e;
  color: #ccc;
}

nav {
  background-color: #1e1e1e;
}

pre, code {
  background-color: #272727;
  color: #f0f0f0;
}
