<style>
		.container {
		  width: 100%;
		  max-width: 960px;
		  margin: 0 auto;
		}

		.row {
		  display: flex;
		  flex-wrap: wrap;
		}

		.col-md-6 {
		  flex: 1 0 25%;
		  max-width: 25%;
		  margin-left: 50px;
		  margin-right: 50px;
		  padding: 0 10px;
		}

		.col-md-4 {
		  flex: 1 0 25%;
		  max-width: 25%;
		  margin-left: 30px;
		  margin-right: 30px;
		  padding: 0 10px;
		}

		/* CSS Media Query for Mobile Devices */
	        /* Initially hide mobile content on all devices */
	        .mobile-content {
	            display: none;
	        }

        	/* CSS Media Query for Mobile Devices */
	        @media only screen and (max-width: 768px) {
	            .desktop-content {
	                display: none;
	            }
	            .mobile-content {
	                display: block;
	            }
	        }
	
	        /* CSS Media Query for Desktop Devices */
	        @media only screen and (min-width: 769px) {
	            .mobile-content {
	                display: none;
	            }
	            .desktop-content {
	                display: block;
	            }
	        }
</style> 
