---

---
<!DOCTYPE html>
<html lang="en">
 <head>
	{% include header.html %}
 	<meta name="description" CONTENT="2018 Golf Course Architecture GCA New Renovation Restoration Construction Doak Hanse Coore Crenshaw Norman Kidd Franz Clayton King Collins Ramsey GolfPlan Curley">
	<title>New Golf Courses 2018 GCA Architecture Construction Renovation Restoration</title>
	 
	<script src="https://cmp.osano.com/Azqae7Tg5rIXKJsl/a6843304-e87a-485e-aabb-2b21be3ed691/osano.js"></script>
 </head>

 <BODY>
	<div style="width: 100%;">	
		<div class="desktop-content">
			<div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-4">
					<H1>New Golf Courses + Renovation + Restoration 2018</H1>
				</div>
				<div class="col-md-4"></div>
			</div>
		</div>
	
		{% include pastYear2018.html %}	
	</div>
		
	{% include bodyFooter.html %}
 </BODY>
	
 {% include footer.html %}
</html>
