---

---
<!DOCTYPE html>
<html lang="en">
 <head  <!-- Global site tag (gtag.js) - Google Analytics -->
        <!--
	<meta http-equiv="refresh" content="0; url=https://fescue.github.io">
        <link rel="canonical" href="http://fescue.github.io" />
	-->
 <!-- Google tag (gtag.js) -->
 <script async src="https://www.googletagmanager.com/gtag/js?id=G-CE7ZF0C1GD"></script>
 <script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());
		  gtag('config', 'G-CE7ZF0C1GD');
  </script>
	  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">	
	  <meta name="Description" CONTENT="2019 Activity Archive - Golf Course Architecture">
	  <meta name="google-site-verification" content="+nxGUDJ4QpAZ5l9Bsjdi102tLVC21AIh5d1Nl23908vVuFHs34="/>
	  <title>2019 Activity Archive - Golf Course Architecture</title>
		<link rel="shortcut icon" type="image/png" href="/images/Fairway-Hole-2.png">
		<link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="http://www.datatables.net/rss.xml">
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.2/css/jquery.dataTables.min.css">
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.4.0/css/responsive.dataTables.min.css">
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/fixedheader/3.3.1/css/fixedHeader.dataTables.min.css">
		<style type="text/css" class="init">	
			div.container { max-width: 1200px }
		</style>
	       <!-- EMBED JQUERY USING GOOGLE APIs -->
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		<script src="https://cmp.osano.com/Azqae7Tg5rIXKJsl/a6843304-e87a-485e-aabb-2b21be3ed691/osano.js"></script>
		<script type="text/javascript" class="init"></script>
	</head>


	<H1>  <p><a href="https://fescue.github.io/iMap">Preview Play - Next Golf Trip</a></p> </H1>
	<H2>  <p><a href="https://fescue.github.io/">Return to current year</a></p> </H2>

     <table id="golf" class="table" width="100%">
          <thead>
              <tr> 
                <th>Country</th>
                <th>Location</th>
                <th data-priority="1">Golf Course</th>
                <th>Date</th>
                <th>Architect</th>
                <th>Construction</th>
                <th>Build</th>
                <th>Status</th>
                <th>YouTube</th>
                <th>Twitter</th>
		<th>Social</th>
                <th>Budget</th>
                <th>History</th>
                <th>Curated</th> 
                <th>Comments</th>
                <th>Instagram</th>
               </tr>
          </thead>
          <tbody>
              {% for item in site.data.all2019 %}
                  <tr>
                    <td>{{ item.Country }}</td>
                    {% if item.Latitude and item.Latitude != "" and item.Latitude != nil %} <td><a href="https://www.google.com/maps/@{{item.Latitude}},{{item.Longitude}},14z">{{ item.Location }}</a> </td>
                    {% else %}<td></td>{% endif %}
                    {% if item.Website and item.Website != "" and item.Website != nil %} <td><a href="{{ item.Website }}">{{ item.Course }}</a> </td>
                    {% else %}<td> {{ item.Course }} </td>{% endif %}
                    <td>{{ item.Date }}</td>
                    <td>{{ item.Architect }}</td> 
                    <td>{{ item.Construction }}</td>
                    <td>{{ item.TypeOfJob }}</td> 
                    <td>{{ item.Status }}</td>
                    {% if item.YouTube and item.YouTube != "" and item.YouTube != nil %} <td><a href="https://www.youtube.com/watch?v={{ item.YouTube }}">{{ item.YouTubeCaption }}</a> </td>
                    {% else %}<td></td>{% endif %}
                    
		    {% if item.Twitter and item.Twitter != "" and item.Twitter != nil %} <td><a href="https://www.twitter.com/{{ item.Twitter }}" rel="nofollow">{{ item.TwitterCaption }}</a> </td>
                    {% else %}<td></td>{% endif %}    
			  
		    {% if item.Twitter and item.Twitter != "" and item.Twitter != nil %} <td><a href="https://www.twitter.com/{{ item.Twitter }}" rel="nofollow">{{ item.TwitterCaption }}</a> </td>
		    {% elsif item.Instagram and item.Instagram != "" and item.Instagram != nil %} <td><a href="https://www.instagram.com/{{ item.Instagram }}" rel="nofollow">{{ item.Instagram }}</a> </td>
                    {% else %}<td></td>{% endif %}    	  			  
			  
                    <td>{{ item.Budget }}</td> 
                    <td>{{ item.History }}</td> 
                    <td>{{ item.DataCurated }} </td> 
                    <td>{{ item.Comments }} </td>
		    {% if item.Instagram and item.Instagram != "" and item.Instagram != nil %} <td><a href="https://www.instagram.com/{{ item.Instagram }}" rel="nofollow">{{ item.Instagram }}</a> </td>
                    {% else %} <td></td> {% endif %} 
                  </tr>
              {% endfor %}
            </tbody>
     </table>
	 

	<script>
		$(document).ready(function() {
		  var table = $('#golf').DataTable( {
		    responsive: true,
		    initComplete: function() {
		      // This code will be executed when the table is initialized.
		      // We can use it to change the table to show cards on mobile phones.
		      var $table = $(this);
		      var isMobile = /Mobi/.test(navigator.userAgent) || /Android/.test(navigator.userAgent);
		      if (isMobile) {
			$table.find('tbody tr').each(function() {
			  var $tr = $(this);
			  $tr.addClass('card');
			  $tr.find('td').each(function() {
			    var $td = $(this);
			    $td.addClass('card-body');
			  });
			});
		      }
		    }
		  } );
		} );
	</script>
		
		
	<H4>* denotes planning stage, i.e. start construction date, not opening date.</H4>
	<H4>Data Curated is the most recent date a golf course project has been reviewed.</H4>
	</H2>

	<footer>
	  <!-- <p></p> -->
	  <nav>
	  <p>Creators and managers of this list make no representations as to its accuracy, completeness, and/or its validity.  Users do so at their own risk.</p>
	  </nav>
	</footer>
</html>
