---

---
<!DOCTYPE html>
<html lang="en">
 <head  <!-- Global site tag (gtag.js) - Google Analytics -->
        <!--
	<meta http-equiv="refresh" content="0; url=https://fescue.github.io">
        <link rel="canonical" href="http://fescue.github.io" />
	-->
 <!-- Google tag (gtag.js) -->
 <script async src="https://www.googletagmanager.com/gtag/js?id=G-CE7ZF0C1GD"></script>
 <script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());
		  gtag('config', 'G-CE7ZF0C1GD');
  </script>
	  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">	
	  <meta name="Description" CONTENT="2019 Activity Archive - Golf Course Architecture">
	  <meta name="google-site-verification" content="+nxGUDJ4QpAZ5l9Bsjdi102tLVC21AIh5d1Nl23908vVuFHs34="/>
	  <title>2019 Activity Archive - Golf Course Architecture</title>
	  <link rel="shortcut icon" type="image/png" href="/images/Fairway-Hole-2.png">
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	  <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
	  <style>
	    table {
	      width: 100%;
	    }
	    .card {
	      border: 1px solid black;
	      padding: 10px;
	    }
	    .card-body {
	      font-size: 16px;
	    }
	  </style>
		<script type="text/javascript" class="init"></script>
	</head>


	<H1>  <p><a href="https://fescue.github.io/iMap">Preview Play - Next Golf Trip</a></p> </H1>
	<H2>  <p><a href="https://fescue.github.io/">Return to current year</a></p> </H2>



     <table id="golf" class="table" width="100%">
          <thead>
              <tr> 
                <th>Country</th>
                <th>Location</th>
                <th data-priority="1">Golf Course</th>
                <th>Date</th>
                <th>Architect</th>
                <th>Construction</th>
                <th>Build</th>
                <th>Status</th>
                <th>YouTube</th>
                <th>Twitter</th>
		<th>Social</th>
                <th>Budget</th>
                <th>History</th>
                <th>Curated</th> 
                <th>Comments</th>
                <th>Instagram</th>
               </tr>
          </thead>
          <tbody>
		  
		                   <tr>
                    <td>Canada</td>
                     <td><a href="https://www.google.com/maps/@52.3332137,-114.0587286,14z">Alberta</a> </td>
                    
                     <td><a href="https://www.sylvanlakenews.com/sports/lakewood-golf-resort-near-sylvan-lake-expanding-to-18-hole-course/">Lakewood Golf Resort</a> </td>
                    
                    <td>2023</td>
                    <td>TBA</td> 
                    <td></td>
                    <td>New</td>
                    <td>Construction</td> 
			  
                    <td>
					   <iframe src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2Flakewoodgolfresort%2Fvideos%2F270059748920126%2F&show_text=false&width=560&t=0" width="560" height="314" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>

					   </td>

		    <td></td>
			  
                    <td></td>
                    <td></td>
                    <td>2022-05-10 </td> 
                    <td>New 9 </td> 
                  </tr>
              
		  
		  
              {% for item in site.data.all2019 %}
                  <tr>
                    <td>{{ item.Country }}</td>
                    {% if item.Latitude and item.Latitude != "" and item.Latitude != nil %} <td><a href="https://www.google.com/maps/@{{item.Latitude}},{{item.Longitude}},14z">{{ item.Location }}</a> </td>
                    {% else %}<td></td>{% endif %}
                    {% if item.Website and item.Website != "" and item.Website != nil %} <td><a href="{{ item.Website }}">{{ item.Course }}</a> </td>
                    {% else %}<td> {{ item.Course }} </td>{% endif %}
                    <td>{{ item.Date }}</td>
                    <td>{{ item.Architect }}</td> 
                    <td>{{ item.Construction }}</td>
                    <td>{{ item.TypeOfJob }}</td> 
                    <td>{{ item.Status }}</td>
                    {% if item.YouTube and item.YouTube != "" and item.YouTube != nil %} <td><a href="https://www.youtube.com/watch?v={{ item.YouTube }}">{{ item.YouTubeCaption }}</a> </td>
                    {% else %}<td></td>{% endif %}
                    
		    {% if item.Twitter and item.Twitter != "" and item.Twitter != nil %} <td><a href="https://www.twitter.com/{{ item.Twitter }}" rel="nofollow">{{ item.TwitterCaption }}</a> </td>
                    {% else %}<td></td>{% endif %}    
			  
		    {% if item.Twitter and item.Twitter != "" and item.Twitter != nil %} <td><a href="https://www.twitter.com/{{ item.Twitter }}" rel="nofollow">{{ item.TwitterCaption }}</a> </td>
		    {% elsif item.Instagram and item.Instagram != "" and item.Instagram != nil %} <td><a href="https://www.instagram.com/{{ item.Instagram }}" rel="nofollow">{{ item.Instagram }}</a> </td>
                    {% else %}<td></td>{% endif %}    	  			  
			  
                    <td>{{ item.Budget }}</td> 
                    <td>{{ item.History }}</td> 
                    <td>{{ item.DataCurated }} </td> 
                    <td>{{ item.Comments }} </td>
		    {% if item.Instagram and item.Instagram != "" and item.Instagram != nil %} <td><a href="https://www.instagram.com/{{ item.Instagram }}" rel="nofollow">{{ item.Instagram }}</a> </td>
                    {% else %} <td></td> {% endif %} 
                  </tr>
              {% endfor %}
            </tbody>
     </table>
	 

	<script>
		$(document).ready(function() {
		  var table = $('#golf').DataTable( {
		    responsive: true,
		    initComplete: function() {
		      // This code will be executed when the table is initialized.
		      // We can use it to change the table to show cards on mobile phones.
		      var $table = $(this);
		      var isMobile = /Mobi/.test(navigator.userAgent) || /Android/.test(navigator.userAgent);
		      if (isMobile) {
			$table.find('tbody tr').each(function() {
			  var $tr = $(this);
			  $tr.addClass('card');
			  $tr.find('td').each(function() {
			    var $td = $(this);
			    $td.addClass('card-body');
			  });
			});
		      }
		    }
		  } );
		} );
	</script>
		
		
	<H4>* denotes planning stage, i.e. start construction date, not opening date.</H4>
	<H4>Data Curated is the most recent date a golf course project has been reviewed.</H4>
	</H2>

	<footer>
	  <!-- <p></p> -->
	  <nav>
	  <p>Creators and managers of this list make no representations as to its accuracy, completeness, and/or its validity.  Users do so at their own risk.</p>
	  </nav>
	</footer>
</html>
