---

---
<!DOCTYPE html>
<html lang="en">
 <head>
	{% include header.html %}
 	<meta name="description" CONTENT="2020 Golf Course Architecture New Renovation Restoration Construction Doak Hanse Coore Crenshaw Norman Kidd Franz Clayton King Collins">
	<title>New Golf Courses Completed 2020 - Golf Architecture - Renovation</title>
 </head>

 <BODY>
 	<div style="width: 100%>
		<!-- Content for Desktop Devices -->
		<div class="desktop-content">
			<div class="row">
				<div class="col-md-4">
				</div>
				
				<div class="col-md-4">
					<iframe title="RTJ's Hoiana Shores" width="270" height="200" src="https://www.youtube.com/embed/mCB-8dH45RI?start=24" frameborder="150" allowfullscreen></iframe>
					<h4>Robert Trent Jones II - Hoiana Shores</h4>
				</div>
				
				<div class="col-md-4">
				</div>
			</div>
		</div>
		{% include pastYear2020.html %}	
	</div>
		
	{% include bodyFooter.html %}
 </BODY>
	
 {% include footer.html %}
</html>
