---

---
<!DOCTYPE html>
<html lang="en">
 <head>
	{% include header.html %}
 	<meta name="description" CONTENT="2021 Golf Course Architecture New Renovation Restoration Construction Doak Hanse Coore Crenshaw Norman Kidd Franz Clayton King Collins">
	<title>New Golf Courses Completed 2021 - Golf Architecture - Renovation</title>
 </head>

 <BODY>
 	<div style="width: 100%>
		<!-- Content for Desktop Devices -->
		<div class="desktop-content">
			<div class="row">
				<div class="col-md-6">
					<iframe title="Congressional Blue" width="270" height="200" src="https://www.youtube.com/embed/2sSosWXHeoI" frameborder="150" allowfullscreen></iframe>
					<h4>TheGCSAATV - Congressional Blue</h4>
				</div>
				<div class="col-md-6">
					<iframe title="Marco Simone" width="270" height="200" src="https://www.youtube.com/embed/lG-OAQfUFGQ" frameborder="150" allowfullscreen></iframe>
					<h4>European Golf Design - Marco Simone</h4>
				</div>
			</div>
		</div>
		{% include pastYear2021.html %}	
	</div>
		
	{% include bodyFooter.html %}
 </BODY>
	
 {% include footer.html %}
</html>
