---

---
<!DOCTYPE html>
<html lang="en">
 <head>
  <title>Amelia Island - Long Point in Florida</title>
  <meta name="description" CONTENT="Amelia Island - Long Point in Florida">
  {% include h.html %}
</head>			
		
<body>
	<div class="main-container" role="main">
		<div id="map" aria-label="Mauritius"></div>
			<div class="content" tabindex="0"  aria-label="Heritage Resorts">
				<H1>Tom Fazio's Amelia Island Long Point</H1> 
				<p>Amelia Island Long Point Golf Course is on the picturesque <a style='font-weight:bold' href='https://www.ameliaisland.com/' target='_blank' rel='nofollow'>Amelia Island in Florida</a>. Designed by golf course architect Tom Fazio, the property was unveiled in 1987. The course is among a maritime forest environment with salt marshes and the Atlantic Ocean to the east, providing an immersive experience in nature. The 18-hole layout capitalizes on the natural contours of the land by creating a diverse range of holes that challenge golfers of all skill levels.</p>
				<p>The course is particularly noted for its distinctive layout, which requires strategic thinking and precision. Each hole presents its own set of challenges with carefully placed bunkers, undulating fairways, and bunkered greens. The front nine versus the back nine offer contrasting styles; the front is more open and forgiving, while the back nine demands more accuracy off of the tee. The signature hole is noted at the 15th, a par-3 that plays over a marsh to a green surrounded by natural sand dunes, embodying fine coastal golf.  <a style='font-weight:bold' href='https://www.ameliaislandclub.com/golf/' target='_blank' rel='nofollow'>Golf course conditioning</a> are updated seasonally.</p>
				<p>Amelia Island Long Point Golf Course is part of a larger resort community. The course is committed to environmental stewardship, particularly focused on cultural practices in greenskeeping to preserve the natural beauty and wildlife of the area.  Recent renovation work by Tom Fazio in conjunction with MacCurrach Golf Construction has made the property a premier golfing destination in Florida to return to.</p>

				</div>
	</div>
	
    <script>
            const map = L.map('map').setView([30.5593,-81.4444], 6);
            const tiles = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
				maxZoom: 30,
				attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
			}).addTo(map);

			L.CustomOverlay = L.Layer.extend({
	            onAdd: function(map) {
					this._map = map;
					this._container = L.DomUtil.create('div', 'leaflet-custom-overlay');
			
	                // Add the container to the map
	                map._panes.overlayPane.appendChild(this._container);
	                
	                // Update the position of the overlay on the map
	                this._update();
	            },
	        
	            onRemove: function(map) {
	                L.DomUtil.remove(this._container);
	            },
	        
	            _update: function() {
	                // Position the layer. This example assumes a fixed position, but you can use map latlng to position dynamically
	                // var position = this._map.latLngToLayerPoint(this._latlng || this._map.getCenter());
	                
	                var position = this._map.containerPointToLayerPoint([10, 10]); // Adjust the position as needed
	                L.DomUtil.setPosition(this._container, position);
	            }
	        });
	
	        // Add the custom overlay to the map
	        var myCustomOverlay = new L.CustomOverlay();
	        myCustomOverlay.addTo(map);
	
	        // Add a marker to the map at the same location as the map center
	        var marker = L.marker([30.5593,-81.4444]).addTo(map);

	        marker.bindPopup("<b>Amelia Island</b><br>Florida</br>").openPopup();
	</script>
	
   	<p><a href="https://fescue.github.io/Boca-National/">Boca National - Nick Price</a></p>
	<p><a href="https://fescue.github.io/Golf-India-Aivot-PGA/">Lobb's Initiative with the PGA in India</a></p>
	{% include bodyFooter.html %}
 </body>	
 {% include footer.html %}
</html>
