---

---
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bounty Club - New Golf Club</title>
  <meta name="description" CONTENT="Jackson Kahn New Golf Course Louisiana Sandy Soil Estate Golf Course">
  {% include headerI.html %}
</head>
	
<body>
	
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <!-- First Instagram Post Embed -->
                <blockquote class="instagram-media" data-instgrm-permalink="https://www.instagram.com/p/CoIGRlsOLC4/" data-instgrm-version="13"></blockquote>
                <script async src="https://www.instagram.com/embed.js"></script>
            </div>
            <div class="col-sm-6">
                <h1>Bounty Club - King Collins</h1>
                <p>The <a style='font-weight:bold' href='https://bountyclub.com/' target='_blank' rel='nofollow'>Bounty Club</a> is set to be a national club and hallmark in <a style='font-weight:bold' href='https://kingcollinsgolf.com/' target='_blank' rel='nofollow'>King Collins'</a> design career.  Early views into the design near Nashville, Tennessee give anticipation for elite golf.  Commitment to an environmentally sustainable approach integrating the natural topography of creeks and ravines gives the opportunity for a world class golf.</p>
                <p><a style='font-weight:bold' href='https://sweetenscovegolfclub.com/' target='_blank' rel='nofollow'>Sweetens Cove Golf Club</a> in Tennessee may be the design duo's most famous creation to date.  The project put Rob King and Tad Collins on the GCA map. Located in South Pittsburg, Tennessee, Sweetens Cove is a nine holer that opened in 2014 with wide fairways, dynamic green complexes, and tee grounds chosen by the golfers in the group, encouraging creative play and variety.</p>
                <p><a style='font-weight:bold' href='https://www.landmandgc.com/' target='_blank' rel='nofollow'>Landmand Golf Club</a> is a large scale property set near the Nebraska/South Dakota/Iowa border on the Anderson family farm.  The design features a fun downhill slinging redan green par 3 hole and a drivable par 4 with a Sitwell green replica at the 17th hole.</p>
            </div>
        </div>
    </div> 
    <p><a style='font-weight:bold' href="https://bountyclub.com/">The Bounty Club's Website</a></p>
    <p><a style='font-weight:bold' href="https://www.nashvillepost.com/business/development/nyc-golf-venture-with-ties-to-timberlake-eyes-area-course/article_3d118516-6774-11ed-8658-9f078fc16c52.html">Nashville Post Feature on Whites Creek Property</a></p>
    <p><a style='font-weight:bold' href="https://golf.com/travel/king-collins-building-nashville-course-bounty-club/">Golf Magazine Feature on Bounty Club from Ran Morrissett</a></p>
    <p><a href="https://fescue.github.io/Childress-Hall/">Childress Hall in the Sand Dunes of Texas</a></p>
  {% include bodyFooter.html %}
 </BODY>	
 {% include footer.html %}
</html>
</html>
