---

---
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Broomsedge Club</title>
  <meta name="description" CONTENT="Broomsedge New Golf Course South Carolina Kyle Franz">
  {% include headerI.html %}
</head>
	
<body>

  <div class="container">

      <div class="col-md-6 col-sm-12">
        <h1>Broomsedge Carolina Sandhills</h1>
        <p><a style='font-weight:bold' href='https://www.instagram.com/broomsedge_club' target='_blank' rel='nofollow'>Broomsedge Golf Club</a> will be a private club in the South Carolina Sandhills opening in autumn 2024.  The golf course is designed by Kyle Franz/Mike Koprowski with golf construction suppport from Nick Mazella of <a style='font-weight:bold' href='https://x.com/MazzellaGolf/status/1725475784981205112?s=20' target='_blank' rel='nofollow'>Mazella Partnership</a>.</p>
        <p>Routing has been completed.  The property is 2,500 acres and was once a working farm.  The land is characterized by its classic land movement in the sandhills and pine forests.  Final shaping began in 2023.</p>
        <p>Geologically, the Carolina sandhills are characterized by quartz sand soil that has its origins from sea deposits over millions of years.  As the sea receded to the current Atlantic shoreline, it left behind the landscape of sandy ridges and dunes ideal for golf.  The area is also known for its rolling hills in contrast to the flatter coastal, piedmont regions of the Carolinas.  As seen in Pinehurst, the sandy soil topography of the region creates a unique ecological niche and is known for its longleaf pine forests which have adapted to the relatively dry conditions.</p>

        <blockquote class="instagram-media" data-instgrm-permalink="https://www.instagram.com/p/CzUh-ZpuWv3/" data-instgrm-version="13"></blockquote>
        <script async src="https://www.instagram.com/embed.js"></script>
      </div>

      <div class="col-md-6 col-sm-12">
        	<blockquote class="instagram-media" data-instgrm-permalink="https://www.instagram.com/p/CoTQUA4g39M/" data-instgrm-version="13"></blockquote>
        	<script async src="https://www.instagram.com/embed.js"></script>
		<h2>Kyle Franz</h2>
        	<p>Kyle Franz found his start in the field working for Tom Doak and Bill Coore working in the new Golden Age on what would become the best golf courses produced in the last 20 years.  In a <a style='font-weight:bold' href='https://golfclubatlas.com/feature-interview/kyle-franz-june-2011/' target='_blank' rel='nofollow'>2011 interview on GolfClubAtlas(GCA)</a>, Franz details relevant experience at Pinehurst No. 2 in North Carolina under Bill Coore, at Pacific Dunes under Tom Doak, Barnbougle Dunes in Australia under Tom Doak/Mike Clayton, and in the Nebraska Sandhills building The Dunes Course at the Prairie Club as Lead Shaper/Design Associate for Tom Lehman and Chris Brands. is Director of the Golf Strategy Group (GSG).  Franz attended Oregon State University before his start in golf design and construction.</p>
        	<p>Franz and Koprowski's recent <a style='font-weight:bold' href='https://www.buzzsprout.com/1555766/11488351' target='_blank' rel='nofollow'>podcast interview</a> gives their vision for Broomsedge.  Michael Keiser Jr. is a special advisor to Broomsedge and early founding member.  Grassing the site will begin in late spring/early summer of 2024 with plans for preview play in <a style='font-weight:bold' href='https://careers.gcsaa.org/jobs/19343079/golf-course-superintendent-broomsedge' target='_blank' rel='nofollow'>autumn 2024</a>.</p>
	</div>
  </div>
  {% include bodyFooter.html %}
 </BODY>	
 {% include footer.html %}
</html>
