---

---
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Darmor Golf Club - Columbus, Texas</title>
  <meta name="description" CONTENT="Darmor Golf Club Hal Sutton Columbus Texas New Golf Course Heritage Links Agronomy">
  {% include headerSM.html %}
  <link rel="stylesheet" href="https://cdn.knightlab.com/libs/storymapjs/latest/css/storymap.css">
</head>
<body>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <H1>Darmor Golf Club - Hal Sutton - Template Holes</H1>
  
  <div id="storyMap"></div>

  <script type="text/javascript" src="https://cdn.knightlab.com/libs/storymapjs/latest/js/storymap-min.js" async></script>
  
  <script>
    // Wait for the StoryMap script to load
    document.querySelector('script[src="https://cdn.knightlab.com/libs/storymapjs/latest/js/storymap-min.js"]').addEventListener('load', function() {
      "use strict";

      const storymap_data = "https://fescue.github.io/data/Darmor-Golf-Club.json";
      const storymap_options = {
        language: "en",
        map_type: "osm:standard",
        calculate_zoom: false
      };

      const storymap = new VCO.StoryMap("storyMap", storymap_data, storymap_options);

      const zoomControl = L.control.zoom({ position: "topleft" });
      const fullscreenControl = new L.Control.Fullscreen({
        position: "topleft"
      });

      const leafletControlsToAdd = [zoomControl, fullscreenControl];

      storymap.on("loaded", function() {
        const leafletMap = storymap.map;
        leafletControlsToAdd.forEach(element => leafletMap.addControl(element));
      });
    });
  </script>

  <p><a href="https://fescue.github.io/Freestone-Lake-Golf-Club/">Freestone Lake</a></p>
  <p><a href="https://fescue.github.io/Red-Feather/">Red Feather</a></p>
  {% include bodyFooter.html %}  
  {% include footer.html %}
</body>
</html>
