---

---
<!DOCTYPE html>
<html lang="en">
 <head>
 	<title>Guenoc Valley Tom Doak Napa Golf Resort</title>
	<meta name="description" CONTENT="New Golf Course Resort Tom Doak Northern California Napa Valley">
	{% include h50.html %}
</head>			
		
<body>
	<div class="main-container" role="main">
		<div id="map" aria-label="Stonebridge"></div>
			<div class="content" tabindex="0"  aria-label="Kipp Schulties">
				<H1>Guenoc Valley California - Tom Doak Napa Golf Resort</H1> 
				<p><a style='font-weight:bold' href='https://guenocvalley.com/' target='_blank' rel='nofollow'>Guenoc Valley</a> is a proposed luxury resort and residential development adjacent to Napa Valley in Lake County, California.</p>
				<p>The California Attorney General's Office has reached a settlement with the developers of the Guenoc Valley Project, a proposed luxury resort and residential development in Lake County. The settlement requires the developers to reduce the size of the project and to take steps to mitigate its environmental impact.   The settlement was completed in 2023.</p>
				<p>The Guenoc Valley Project was originally proposed in 2016. The project includes a golf course, a spa, a hotel, and homes. However, the project faced opposition from environmental groups and local residents who were concerned about its environmental impact.  Nearby in Lake County, <a style='font-weight:bold' href='https://fescue.github.io/Brambles-Golf/' target='_blank' rel='nofollow'>Brambles Golf Club</a> is a new golf club which opened in 2023.</p>
				<p>Under the terms of the settlement, the developers of the Guenoc Valley Project have agreed to reduce the size of the project by 50%. The project will now include a golf course, a spa, and a hotel, but no homes. The developers have also agreed to take steps to mitigate the project's environmental impact, including planting trees and shrubs to help protect the watershed.</p>
				<p>Previous to the settlement, golf architect <a style='font-weight:bold' href='https://www.doakgolf.com/' target='_blank' rel='nofollow'>Tom Doak</a> has provided an innovative golf course <a style='font-weight:bold' href='https://www.doakgolf.com/maha-napa-resort/' target='_blank' rel='nofollow'>routing plan</a> over the land where the golfer starts in location on the 29,000 acre property and finishes at the end of another part of the property.  How many golf courses have taken this approach to the journey?</p>
			</div>
	</div>
	

    <script>
            const map = L.map('map').setView([38.6933,-122.6047], 8);
            const tiles = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
				maxZoom: 30,
				attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
			}).addTo(map);

			L.CustomOverlay = L.Layer.extend({
	            onAdd: function(map) {
					this._map = map;
					this._container = L.DomUtil.create('div', 'leaflet-custom-overlay');
					
	                // Add the container to the map
	                map._panes.overlayPane.appendChild(this._container);
	                
	                // Update the position of the overlay on the map
	                this._update();
	            },
	        
	            onRemove: function(map) {
	                L.DomUtil.remove(this._container);
	            },
	        
	            _update: function() {
	                // Position the layer. This example assumes a fixed position, but you can use map latlng to position dynamically
	                // var position = this._map.latLngToLayerPoint(this._latlng || this._map.getCenter());
	                
	                var position = this._map.containerPointToLayerPoint([10, 10]); // Adjust the position as needed
	                L.DomUtil.setPosition(this._container, position);
	            }
	        });
	
	        // Add the custom overlay to the map
	        var myCustomOverlay = new L.CustomOverlay();
	        myCustomOverlay.addTo(map);
	
	        // Add a marker to the map at the same location as the map center
	        var marker = L.marker([38.6933,-122.6047]).addTo(map);

	        marker.bindPopup("<b>Guenoc Valley</b><br>California</br>").openPopup();
	</script>
	<p><a href="https://www.lakeconews.com/news/74690-attorney-general-s-office-reaches-settlement-on-guenoc-valley-project">Attorney General’s Office reaches settlement in 2023</a></p>
	<p><a href="https://fescue.github.io/Roosevelt-Memorial-Golf-Course/">Restoring Donald Ross - Roosevelt Memorial</a></p>
	{% include bodyFooter.html %}
 </body>	
 {% include footer.html %}
</html>
