---

---
<!DOCTYPE html>
<html lang="en">
 <head>
	<title>New Gil Hanse Design - High Grove</title>
	<meta name="description" CONTENT="High Grove Highlands County Lakes Wales Ridge Gil Hanse Jim Wagner Russ Myers">
	{% include h50.html %}
</head>
	
<body>	
	<div class="main-container" role="main">
		<div id="map" aria-label="Atlantic Fields"></div>
		<div class="content" tabindex="0"  aria-label="Atlantic Fields Club">
			<H1>New Gil Hanse Design - High Grove</H1>
			<p>High Grove Golf Club will be at the southern end of the Lake Wales Ridge, a 100-mile-long chain of sand dunes.  The property is <a style='font-weight:bold' href='https://www.hcpao.org/Search/Parcel/303816A0000210000C' target='_blank' rel='nofollow'>1,211 acres of citrus groves</a> that rise in elevation from 105 to 175 feet above sea level.  The ground is ideal sandy soil for fast running golf turfgrass.  Soils are classified as the Astatula-Paola-Tavares which are known for well draining grass on golf courses. The soils are also very porous and allow for good water infiltration. The soil conditions are also well-suited for growing valencia oranges which are tolerant of sandy soils.  The property to the west, northwest, and north of the ridge continuously rises and falls to the boundary fences. There are some small, attractive natural wetlands on the north end of the property as well.</p>
			<p><a style='font-weight:bold' href='https://www.hansegolfdesign.com/' target='_blank' rel='nofollow'>Golf architect Gil Hanse</a> is a renowned golf course architect who will build the High Grove Golf Club.  Hanse is known for his natural style in design preferring to work with the land as much as possible, minimizing the amount of earthmoving that is required. This results in golf courses that are more environmentally friendly and that fit in better with the surrounding landscape.</p>
			<p>Design partner <a style='font-weight:bold' href='https://www.hansegolfdesign.com/tag/jim-wagner/' target='_blank' rel='nofollow'>Jim Wagner</a> is a Florida resident and hands on in shaping and strategic design in the field.  Wagner is well known specialist in golf construction often leading the "Caveman Construction" approach of detail.  This hands-on approach differentiates the team and translates well into the natural landscape presentation.  Some of the most notable projects under Wagner and Hanse's belt include the Olympic Golf Course in Rio de Janeiro, Brazil(host of the 2016 Olympics), Castle Stuart Golf Links in Scotland, Ohoopee Match Club in Georgia, and Ladera Golf Club in California.</p>
			<p>Heritage Links Golf Construction will work with the Hanse team's <a style='font-weight:bold' href='https://cavemanconstructiongear.com/' target='_blank' rel='nofollow'>Caveman Construction</a> on golf course construction.  Hanse team's specialist superintendent Russ Myers will assist in construction and grow in with onsite visits.  Heritage Links was founded in 1995 by John Paul Jones and has completed over 100 golf course projects in 25 states.  Heritage Links specializes in new golf course construction, renovation/restoration, and irrigation installation.  Heritage Links is a member of the <a style='font-weight:bold' href='https://www.gcbaa.org/' target='_blank' rel='nofollow'>Golf Course Builders Association of America(GCBAA)</a> and a recipient of the GCBAA's Builder of the Year Award.</p>
		</div>
	</div>       

    <script>	
                const map = L.map('map').setView([27.1116672,-81.8610702], 10);
                const tiles = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    maxZoom: 30,
                    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
                }).addTo(map);

	        L.CustomOverlay = L.Layer.extend({
	            onAdd: function(map) {
	                this._map = map;
	                this._container = L.DomUtil.create('div', 'leaflet-custom-overlay');
	                
	        
	                // Add the container to the map
	                map._panes.overlayPane.appendChild(this._container);
	                
	                // Update the position of the overlay on the map
	                this._update();
	            },
	        
	            onRemove: function(map) {
	                L.DomUtil.remove(this._container);
	            },
	        
	            _update: function() {
	                // Position the layer. This example assumes a fixed position, but you can use map latlng to position dynamically
	                // var position = this._map.latLngToLayerPoint(this._latlng || this._map.getCenter());
	                
	                var position = this._map.containerPointToLayerPoint([10, 10]); // Adjust the position as needed
	                L.DomUtil.setPosition(this._container, position);
	            }
	        });
	
	        // Add the custom overlay to the map
	        var myCustomOverlay = new L.CustomOverlay();
	        myCustomOverlay.addTo(map);
	
	        // Add a marker to the map at the same location as the map center
	        var marker = L.marker([27.1116672,-81.8610702]).addTo(map);
	        marker.bindPopup("<b>High Grove</b><br>Lake Wales Ridge, Florida</br>").openPopup();
	</script>
	<p><a style='font-weight:bold' href="https://www.linkedin.com/in/bob-weigt-06522025">RL Weight Environmental</a></p>
	<p><a style='font-weight:bold' href="https://theclubcouncil.com/high-grove">The Club Council</a></p>
	<p><a style='font-weight:bold' href="https://fescue.github.io/Fall-Line-Golf/">Fall Line in Georgia's Sand Hills</a></p>
	<p><a style='font-weight:bold' href="https://fescue.github.io/Panther-National/">Nicklaus' Panther National</a></p>
	{% include bodyFooter.html %}
 </body>	
 {% include footer.html %}
</html>
