---

---
<!DOCTYPE html>
<html lang="en">
 <head>
	{% include header.html %}
	<meta name="description" CONTENT="New Golf Course Architecture On Hold Permits NLE Construction Doak Hanse Coore Crenshaw Norman Nicklaus Kidd">
	<title>Golf Course on Hold, Incomplete, NLE</title>
 </head>

 <BODY>    
	<div style="width: 100%>
		<H1>On Hold, Incomplete, Pending Approval, NLE(No Longer Exists)</H1>
 		{% include pastIncomplete.html %}
	</div>
	{% include bodyFooter.html %}
 </BODY>
 {% include footer.html %}
</html>
