---

---
<!DOCTYPE html>
<html lang="en">
 <head  <!-- Global site tag (gtag.js) - Google Analytics -->
        <!--
	<meta http-equiv="refresh" content="0; url=https://fescue.github.io/incomplete">
        <link rel="canonical" href="https://fescue.github.io/incomplete" />
	-->
 <!-- Google tag (gtag.js) -->
 <script async src="https://www.googletagmanager.com/gtag/js?id=G-CE7ZF0C1GD"></script>
 <script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());
		  gtag('config', 'G-CE7ZF0C1GD');
  </script>
  <!-- Clarity tracking code for https://fescue.github.io --><script>    (function(c,l,a,r,i,t,y){        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i+"?ref=bwt";        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);    })(window, document, "clarity", "script", "h4dgedaqyl");</script>

  <title>Golf Course Properties on Hold, Incomplete, NLE(No Longer Exists)</title>
	
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">	
	  <meta name="Description" CONTENT="Golf Course Architecture New Renovation Restoration Design Construction Bunker Doak Hanse Coore Crenshaw Nicklaus Kidd Franz Clayton King Collins">
	  <meta name="google-site-verification" content="+nxGUDJ4QpAZ5l9Bsjdi102tLVC21AIh5d1Nl23908vVuFHs34="/>
	  <title>New Golf Course - Golf Architecture - Routing Renovation Restoration</title>
		<link rel="shortcut icon" type="image/png" href="/images/Fairway-Hole-2.png">
		<link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="http://www.datatables.net/rss.xml">
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.2/css/jquery.dataTables.min.css">
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.4.0/css/responsive.dataTables.min.css">
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/fixedheader/3.3.1/css/fixedHeader.dataTables.min.css">
		<style type="text/css" class="init">	
			div.container { max-width: 1200px }
		</style>
	       <!-- EMBED JQUERY USING GOOGLE APIs -->
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
		<!-- IF THAT FAILS CLOUDFLARE CDN -->
		<script type="text/javascript">
		    window.jQuery || document.write('<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"><\/script>');
		</script>
		<!-- IF THAT FAILS , JQUERY FROM MICROSOFT -->
		<script type="text/javascript">
		    window.jQuery || document.write('<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.6.4.min.js"><\/script>');
		</script>
		<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.min.js"></script>
		<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/responsive/2.4.0/js/dataTables.responsive.min.js"></script>
		<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/fixedheader/3.3.1/js/dataTables.fixedHeader.min.js"></script>
		<script type="text/javascript" class="init"></script>
</HEAD>


<BODY>

	<H1>Golf Course Properties on Hold, Incomplete, NLE </H1>
	<H2>  <p><a href="https://fescue.github.io/iMap">Preview Play - Next Golf Trip</a></p> </H2>
	<H2>  <p><a href="https://fescue.github.io/">Return to current year</a></p> </H2>

     <table id="golf" class="display" width="100%">
          <thead>
              <tr> 
                <th>Region</th>
                <th>Country</th>
                <th>Location</th>
                <th data-priority="1">Golf Course</th>
                <th>Architect</th>
                <th>Build</th> 
                <th>YouTube</th>
                <th>Twitter</th>
                <th>Curated</th> 
                <th>Comments</th>
              </tr>
          </thead>
          <tbody>
              {% for item in site.data.allI %}
                 <tr>
                    <td>{{ item.Region }}</td>
                    <td>{{ item.Country }}</td> 
                    {% if item.Latitude and item.Latitude != "" and item.Latitude != nil %} <td><a href="https://www.google.com/maps/@{{item.Latitude}},{{item.Longitude}},14z">{{ item.Location }}</a> </td>
                    {% else %}<td></td>{% endif %}
                    {% if item.Website and item.Website != "" and item.Website != nil %} <td><a href="{{ item.Website }}">{{ item.Course }}</a> </td>
                    {% else %}<td> {{ item.Course }} </td>{% endif %}
                    <td>{{ item.Architect }}</td> 
                    <td>{{ item.TypeOfJob }}</td>
                    {% if item.YouTube and item.YouTube != "" and item.YouTube != nil %} <td><a href="https://www.youtube.com/watch?v={{ item.YouTube }}">{{ item.YouTubeCaption }}</a> </td>
                    {% else %}<td></td>{% endif %}
                    {% if item.Twitter and item.Twitter != "" and item.Twitter != nil %} <td><a href="https://www.twitter.com/{{ item.Twitter }}" rel="nofollow">{{ item.TwitterCaption }}</a> </td>
                    {% else %}<td></td>{% endif %}     
                    <td>{{ item.DataCurated }} </td> 
                    <td>{{ item.Comments }} </td>
	             </tr>
              {% endfor %}
            </tbody>
     </table>
	 
	<script>
	$(document).ready(function() {
		var table = $('#golf').DataTable( {
			responsive: true,
			order: [[0, "desc"],[1,"desc"]],
			columnDefs: [
			 	{ targets: [4], responsivePriority: 1 }
			  ],
			  stateSave: true,
			paging: false
		} );
	 
		new $.fn.dataTable.FixedHeader( table );
	} );
	</script>
	<H4>Data Curated is the most recent date a golf course project has been reviewed.</H4>
</BODY>
	
<footer>
	  <!-- <p></p> -->
	  <nav>
	  <p>Creators and managers of this list make no representations as to its accuracy, completeness, and/or its validity.  Users do so at their own risk.</p>
	  </nav>
</footer>
</html>
