---
layout: default
---

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Blog de Viajes</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
      <li><a href="/acerca-de/">Acerca de</a></li>
    </header>

    <main>
        <div class="posts">
            {% for post in site.posts %}
                <article class="post">
                    <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

                    <!-- Asegúrate de tener una imagen en tu post para mostrarla -->
                    {% if post.image %}
                    <img src="{{ post.image }}" alt="{{ post.title }}">
                    {% endif %}

                    <div class="entry">
                        {{ post.excerpt }}
                    </div>

                    <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Leer más</a>
                </article>
            {% endfor %}
        </div>
    </main>

    <footer>
        <p>&copy; 2024 Mi Blog de Viajes. Todos los derechos reservados.</p>
    </footer>

    <script src="script.js"></script>
</body>
</html>

