---

---
<html lang="en">
<head>
  <title>Jackson Kahn - New Estate Course in Louisiana</title>
  <meta name="description" CONTENT="Jackson Kahn New Golf Course Louisiana Sandy Soil Estate Golf Course">
  {% include headerI.html %}
</head>
	
<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h1>Estate Golf Course - Louisiana</h1>
        <p><a  style='font-weight:bold' href='https://www.jacksonkahndesign.com/' target='_blank' rel='nofollow'>Jackson Kahn Design</a> has completed a new golf course in Louisiana.  The location is private land owner, confidential. The project is located in a sandy soil area, ideal for golf construction shaping.  The design pair is created a course that is both challenging and interesting to play.</p>
        <p>The images above from Jackson Kahn's Instagram account from autumn 2023 show the quality of the land and potential for the new golf course with an almost ready to play message.  Topography appears to have good movement to allow for natural hollows and transitions to come into play.  Bunker style in the Instagram post indicates a sophisticated, natural erosion style of bunker construction in the face - this approach requires some maintenance and improves its characteristic look over time.</p>

        <!-- 3rd Instagram Post Embed -->
        <blockquote class="instagram-media" data-instgrm-permalink="https://www.instagram.com/p/Cju6sHQuk2Z/" data-instgrm-version="13"></blockquote>
        <script async src="https://www.instagram.com/embed.js"></script>
	
	<blockquote class="instagram-media" data-instgrm-permalink="https://www.instagram.com/p/CxDdApCuGgy/" data-instgrm-version="13"></blockquote>
        <script async src="https://www.instagram.com/embed.js"></script>
      </div>
      <div class="col-sm-6">
        <h2>Design Firm History</h2>
        <p>Tim Jackson and David Kahn have extensive experience in golf course design, having worked on both new golf coourses and renovation projects around the world.  The team believes that a well-designed course should be fair to all skill levels, and that it should incorporate the natural beauty of its surroundings.  Jackson Kahn Design is a member of the American Society of Golf Course Architects.  <a  style='font-weight:bold' href='https://www.conwayfarmsgolfclub.org/project-conway-2023-taking-off-706c3006.html?LayoutID=74' target='_blank' rel='nofollow'>Recent renovation projects include Conway Farms</a> where the design team led Wadsworth construction in updating the Tom Fazio design.</p>
	<h2>Private Estates History</h2>
	<p>Estate Golf Courses have a long history in golf.  Historic <a  style='font-weight:bold' href='http://www.tomsimpson.org.uk/courselist.htm' target='_blank' rel='nofollow'>Tom Simpson</a> estate golf courses lost to time in France were properites owned by Baron Edward de Rothchild, Baron Henri de Rothchild, Comte de Rougemont, Duc de Gramont.  William Flynn designed an estate course for the Rockefeller family at Pocantico Hills.  Flynn also designed a property for Albert Lasker in Lake Forest, Illinois at Mill Road Farm.  Rees Jones created <a  style='font-weight:bold' href='https://golf.com/travel/cleverly-designed-backyard-golf-course-three-ponds/' target='_blank' rel='nofollow'>Three Ponds</a> on the East End of Long Island and is a <a  style='font-weight:bold' href='https://leadingestates.com/estates/americas/usa/new-york/bridgehampton/three-ponds-farm-bridgehampton-new-york/' target='_blank' rel='nofollow'>listed property for sale in 2023</a>.</p> 
        <!-- 4th Instagram Post Embed -->
        <blockquote class="instagram-media" data-instgrm-permalink="https://www.instagram.com/p/CvdbtH6OOSy/" data-instgrm-version="13"></blockquote>
        <script async src="https://www.instagram.com/embed.js"></script>
      </div>
    </div>
  </div>
  <p><a href="https://golf.com/news/fighting-for-a-miracle-course-designer-david-kahn-and-his-wife-karen-search-for-strength-in-the-most-daunting-battle-imaginable/">David Kahn's Personal Story</a></p>
  <p><a href="https://fescue.github.io/Childress-Hall/">Childress Hall in the Sand Dunes of Texas</a></p>
  {% include bodyFooter.html %}
 </BODY>	
 {% include footer.html %}
</html>
