---

---
<!DOCTYPE html>
<html lang="en">
 <head>
	<title>Luling Sport - Kyle Franz Golf Course - Texas</title>
	<meta name="description" CONTENT="Luling Sport Kyle Franz New Golf Course Texas Don Mahaffey">
	{% include h60.html %}
</head>
	
<body>	
	<div class="main-container" role="main">
		<div id="map" aria-label="Luling Sport"></div>
		<div class="content" tabindex="0"  aria-label="Luling">
				<H1>Luling Sport - New Kyle Franz Design</H1>
				<p>Luling Sport is a new golf club east of San Antonio, Texas in Luling being designed by <a style='font-weight:bold' href='https://www.kylefranzgolf.com/' target='_blank' rel='nofollow'>Kyle Franz</a>.  Luling, Texas is on the southwestern edge of Hill Country, the Blackland Prairies and Post Oak Savannah.  The 1,100+ acre property will have two golf courses.  The first golf course is in the grow in phase part of the project with <a style='font-weight:bold' href='https://www.linkedin.com/in/josh-cooper-0943ba89/' target='_blank' rel='nofollow'>Josh Cooper</a> as Director of Agronomy overseeing the grounds.  The second golf course will be built in 2024.</p>
				<p><a style='font-weight:bold' href='https://www.greenscapemethods.com/' target='_blank' rel='nofollow'>Don Mahaffey</a> of Greenscape Methods is leading the golf course construction build.  Mahaffey has a well known reputation for delivering bouncy, firm turfgrass golf at such properties as Wolf Point, Memorial Park.  Styling from the Franz project is a throwback to Golden Age influenced architecture with firm turfgrass conditions for a small membership on a walking only golf course.  Stadium zoysia grassing from tee to green is used.  <a style='font-weight:bold' href='https://www.bladerunnerfarms.com/bladerunner-farms-grass-varieties/lazer-zoysia/' target='_blank' rel='nofollow'>Lazer zoysia</a>, developed at nearby Texas A&M has been seeded on putting greens.  The rolling landscape around Luling is agricultural cattle farm ranch country with small streams feeding into the San Marcos River.</p>
				<p>Franz has an active 2024 on his calendar.  Prominent course openings at <a style='font-weight:bold' href='https://fescue.github.io/Broomsedge-Golf-Club/' target='_blank' rel='nofollow'>Broomsedge Golf Club</a> and <a style='font-weight:bold' href='https://fescue.github.io/Cabot-Oaks-Golf/' target='_blank' rel='nofollow'>Cabot Citrus Farms</a> has given up and coming Franz a wide following.</p>
		</div>
	</div>

    <script>		
            const map = L.map('map').setView([29.6407704,-97.7170347], 9);
            const tiles = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
				maxZoom: 30,
				attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
			}).addTo(map);

			L.CustomOverlay = L.Layer.extend({
	            onAdd: function(map) {
					this._map = map;
					this._container = L.DomUtil.create('div', 'leaflet-custom-overlay');
	        
	                // Add the container to the map
	                map._panes.overlayPane.appendChild(this._container);
	                
	                // Update the position of the overlay on the map
	                this._update();
	            },
	        
	            onRemove: function(map) {
	                L.DomUtil.remove(this._container);
	            },
	        
	            _update: function() {
	                // Position the layer. This example assumes a fixed position, but you can use map latlng to position dynamically
	                // var position = this._map.latLngToLayerPoint(this._latlng || this._map.getCenter());
	                
	                var position = this._map.containerPointToLayerPoint([10, 10]); // Adjust the position as needed
	                L.DomUtil.setPosition(this._container, position);
	            }
	        });
	
	        // Add the custom overlay to the map
	        var myCustomOverlay = new L.CustomOverlay();
	        myCustomOverlay.addTo(map);
	
	        // Add a marker to the map at the same location as the map center
	        var marker = L.marker([29.6407704,-97.7170347]).addTo(map);
	        marker.bindPopup("<b>Luling Sport</b><br>Texas</br>").openPopup();
	</script>
	<p><a href="https://fescue.github.io/Freestone-Lake-Golf-Club/">Freestone Lake</a></p>
	<p><a href="https://fescue.github.io/Loraloma-Thomas-Ranch-Golf/">Loraloma Thomas Ranch</a></p>
	{% include bodyFooter.html %}
 </body>	
 {% include footer.html %}
</html>
