---

---
<!DOCTYPE html>
<html lang="en">
 <head>
  <title>Old Sawmill Golf Club - South Carolina</title>
  <meta name="description" CONTENT="Old Sawmill Golf Club South Carolina Charleston Green Complex Tees Irrigation Drainage">
  {% include h.html %}
</head>			
		
<body>
	<div class="main-container" role="main">
		<div id="map" aria-label="Old Sawmill"></div>
			<div class="content" tabindex="0"  aria-label="Rae">
				<H1>Old Sawmill Golf Club - South Carolina - Tyler Rae</H1>
				<p><a style='font-weight:bold' href='https://oldsawmillgc.com' target='_blank' rel='nofollow'>Old Sawmill Golf Club</a>, the new Tyler Rae golf course in South Carolina, is northwest of Charleston.  Rae has 465 acres to work with.  The club will offer an 18 hole championship golf course and 9 hole short course.  Jim Ryan and Tim Lewis are assisting in the build out of the golf course.</p>
				<p>The short course will open in autumn 2025.  Both courses will feature <a style='font-weight:bold' href='http://www.tifeagle.com/' target='_blank' rel='nofollow'>TifEagle</a> greens and TifTuf bermudagrass fairways.</p>
				<p><a style='font-weight:bold' href='https://tylerraedesign.com/' target='_blank' rel='nofollow'>Tyler Rae</a> is an up and coming golf architect.  Recent projects include:</p>
				<LI><a style='font-weight:bold' href='https://fescue.github.io/Wakonda-Club/'>Wakonda Club</a> - Located in Des Moines, Iowa, the Wakonda Club is a historic golf course that was originally designed by William B. Langford and renovated by Tyler Rae in 2014. The course features rolling hills, mature trees, and challenging greens, and has been recognized as one of the best in the state.</LI>
				<LI><a style='font-weight:bold' href='https://www.lookoutmountainclub.com' target='_blank' rel='nofollow'>Lookout Mountain Club</a> - Located in Lookout Mountain, Georgia, this course was originally designed by Seth Raynor and renovated by Tyler Rae in 2017. The course features stunning views of the surrounding mountains and valleys, as well as challenging holes that require strategic shot-making.</LI>
				<LI>Wampanoag Country Club - Located in West Hartford, Connecticut, this course was originally designed by Donald Ross and renovated by Tyler Rae, Kyle Franz, and Brad Klein starting in 2022.</LI>
				<LI>Spy Ring Golf Club - Located on Long Island in New York, this course was designed by Tyler Rae and opened in 2024. The site had a previous executive 18-hole course named Heatherwood which Rae re-routed to 9 holes to accommodate changes for master planned real estate community.</LI>
				<LI>Beverly Country Club - Located in Chicago, Illinois, Beverly was originally designed by Donald Ross and renovated by Tyler Rae in 2018. Historic parkland course with challenging greens has hosted The Western Open four times.</LI>
				<LI>Brookside Country Club - Located in Canton, Ohio, Brian Silva renovated this Donald Ross design.  Tyler Rae was named Brookside's next ><a style='font-weight:bold' href='https://www.linkedin.com/posts/tyler-rae-27391717a_weve-been-fortunate-to-sign-a-plethora-of-activity-7119985142206451712-LcIe/?trk=public_profile' target='_blank' rel='nofollow'>golf architect</a> in 2023.</LI>
			</div>
	</div>
	
    <script>
            const map = L.map('map').setView([32.8233958,-80.1563366], 7);
            const tiles = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
				maxZoom: 30,
				attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
			}).addTo(map);

			L.CustomOverlay = L.Layer.extend({
	            onAdd: function(map) {
					this._map = map;
					this._container = L.DomUtil.create('div', 'leaflet-custom-overlay');
			
	                // Add the container to the map
	                map._panes.overlayPane.appendChild(this._container);
	                
	                // Update the position of the overlay on the map
	                this._update();
	            },
				
	            onRemove: function(map) {
	                L.DomUtil.remove(this._container);
	            },
	        
	            _update: function() {
	                // Position the layer. This example assumes a fixed position, but you can use map latlng to position dynamically
	                // var position = this._map.latLngToLayerPoint(this._latlng || this._map.getCenter());
	                
	                var position = this._map.containerPointToLayerPoint([10, 10]); // Adjust the position as needed
	                L.DomUtil.setPosition(this._container, position);
	            }
	        });
	
	        // Add the custom overlay to the map
	        var myCustomOverlay = new L.CustomOverlay();
	        myCustomOverlay.addTo(map);
	
	        // Add a marker to the map at the same location as the map center
	        var marker = L.marker([32.8233958,-80.1563366]).addTo(map);

	        marker.bindPopup("<b>Charleston, South Carolina</b>").openPopup();
	</script>
    	<p><a href="https://fescue.github.io/Glynlea-Country-Club-Wylder/">Glynlea Country Club in Florida</a></p>
    	<p><a href="https://fescue.github.io/Hogans-Gully/">Hogans Gully in New Zealand</a></p>
    	<p><a href="https://fescue.github.io/Los-Alamos-Golf/">Golf renovation at Los Alamos</a></p>
	{% include bodyFooter.html %}
 </body>	
 {% include footer.html %}
</html>
