---

---
<!DOCTYPE html>
<html lang="en">
 <head>		
	{% include headerIndex.html %}	 
	<meta name="description" CONTENT="Golf Course Proposals Design Architecture New Renovation Restoration Doak Hanse Coore Crenshaw Norman Nicklaus Kidd Franz Clayton King Collins">
	<title>Proposals - Golf Course - Architecture - Renovation Restoration</title>
 </head>

<BODY>
	<div style="width: 100%;">
		{% include YearP.html %}
	</div>
	<p id="done"></p>
	{% include bodyFooter.html %}
 </BODY>
 {% include footer.html %}
</html>
