---

---
<!DOCTYPE html>
<html lang="en">
 <head> 
  <title>Hope for Renovation at Sandpiper Golf, Santa Barbara, California</title>
  <meta name="description" CONTENT="Tom Doak Renovation Sandpiper Golf Club Santa Barbara, California">
  
  {% include h40.html %}
</head>			
		
<body>
	<div class="main-container" role="main">
		<div id="map" aria-label="Tom Doak"></div>
			<div class="content" tabindex="0"  aria-label="Sandpiper">
				<H1>Renovation at Sandpiper Golf Club</H1> 
				<p>Plans for <a style='font-weight:bold' href='https://en.wikipedia.org/wiki/Tom_Doak' target='_blank' rel='nofollow'>Tom Doak</a> to re-design <a style='font-weight:bold' href="https://www.sandpipergolf.com/golf-course/course-tour">Sandpiper Golf Club</a> in Santa Barbara(Goleta), California have been given hope.</p>
				<p>The property faces the Channel Islands and aging <a style='font-weight:bold' href='https://www.independent.com/2022/01/19/so-long-offshore-platforms/' target='_blank' rel='nofollow'>offshore oil platforms</a> scheduled to be decommissioned.  Sandpiper was designed by <a style='font-weight:bold' href='https://en.wikipedia.org/wiki/William_Francis_Bell' target='_blank' rel='nofollow'>William F. Bell</a> and opened in 1972.  The landscape has the advantage of natural terrain atop seaside cliffs.  A new routing from Tom Doak to integrate the shoreline into its design is promising.  The Bell layout is routed laterally to the clifftop for the majority of the journey with the exception of the downhill par 3 11th hole which plays downhill to a beachside green.</p>
				<p>The new ideas do not have a construction start date yet.  However, Doak posted to Instagram a photo in early 2021 of the 18th hole with the caption that the pond in front of the green would remain due to an threatened wildlife species.</p>
				<p>Doak is a golf course architect who has designed many of the most famous courses in the world, including seaside links St. Patrick's in Ireland, Pacific Dunes in Oregon, and Tara Iti in New Zealand.  The renovation could potentially include a number of changes, including changing the course's original routing, removing trees, improving drainage, renovating bunkers and greens.</p>
				<p>Approvals for permitting may require California Coastal Commission involvement.</p>
			</div>
	</div>
		
    <script>
            const map = L.map('map').setView([34.430583,-119.909908], 6);
            const tiles = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
				maxZoom: 30,
				attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
			}).addTo(map);

			L.CustomOverlay = L.Layer.extend({
	            onAdd: function(map) {
					this._map = map;
					this._container = L.DomUtil.create('div', 'leaflet-custom-overlay');			
			
	                this._container.innerHTML = `
	                    <lite-youtube videoid="UkrRhaEdubg" style="background-image: url('https://i3.ytimg.com/vi/UkrRhaEdubg/hqdefault.jpg');">
	                        <a href="https://youtube.com/watch?v=UkrRhaEdubg" class="lty-playbtn" title="Play Video.  Credit: SCGA">
	                            <span class="lyt-visually-hidden">Credit: SCGA</span>
	                        </a>
	                    </lite-youtube>
	                `;

	                // Add the container to the map
	                map._panes.overlayPane.appendChild(this._container);
	                
	                // Update the position of the overlay on the map
	                this._update();
	            },
				
	            onRemove: function(map) {
	                L.DomUtil.remove(this._container);
	            },
	        
	            _update: function() {
	                // Position the layer. This example assumes a fixed position, but you can use map latlng to position dynamically
	                // var position = this._map.latLngToLayerPoint(this._latlng || this._map.getCenter());
	                
	                var position = this._map.containerPointToLayerPoint([10, 10]); // Adjust the position as needed
	                L.DomUtil.setPosition(this._container, position);
	            }
	        });
	
	        // Add the custom overlay to the map
	        var myCustomOverlay = new L.CustomOverlay();
	        myCustomOverlay.addTo(map);
	
	        // Add a marker to the map at the same location as the map center
	        var marker = L.marker([34.430583,-119.909908]).addTo(map);

	        marker.bindPopup("<b>Cebu, Philippines</b>").openPopup();
	</script>
    <p><a href="https://fescue.github.io/Hart-Ranch-Golf/">Hart Ranch Golf</a></p>
	
	{% include bodyFooter.html %}
 </body>	
 {% include footer.html %}
</html>
