---

---
<!DOCTYPE html>
<html lang="en">
 <head>
	<title>Shura Island Golf Resort</title>
	<meta name="description" CONTENT="New Golf Course Shura Island Golf Resort David Kidd Saudi Greens Bunker Sand Dunes Construction Luxury Hotel Four Seasons Rosewood">
	{% include h.html %}
</head>
	
<body>	
	<div class="main-container" role="main">
		<div id="map" aria-label="Shura"></div>
		<div class="content" tabindex="0"  aria-label="Resort">
				<H1>Shura Island Golf Resort</H1> 
				<p><a style='font-weight:bold' href='https://www.redseaglobal.com/our-destinations/the-red-sea/shura-island' target='_blank' rel='nofollow'>Shura Island Golf Course</a> is a new golf course being built in the Red Sea accessible by a 1.2 kilometer bridge.  The design will be an 18-hole championship course from golf architect <a style='font-weight:bold' href='https://curley-wagner.com/' target='_blank' rel='nofollow'>Brian Curley</a> offering a unique experience in the natural landscape of the island among coastal sand dunes with greens constucted to overlook the Red Sea.</p>
				<p><a style='font-weight:bold' href='https://www.linkedin.com/in/craig-haldane-06b17535/' target='_blank' rel='nofollow'>Craig Haldane</a> is the Golf Course Superintendent of Red Sea Global.  Haldane is a native South African with leadership experience across 12 DP World Tour sites and 12 Ladies European Tour(LET) sites for professional golf event conditioning and golf course set up.  From 2018 through 2023, Haldane was Golf Courses Manager in charge of the three golf courses at The Gleneagles Hotel in Scotland.</p>
				<p>The <a style='font-weight:bold' href='https://golfbusinessnews.com/news/opinion/embracing-innovation-for-a-greener-golfing-future/' target='_blank' rel='nofollow'>140 hectare site</a> will have no herbicides applied to the approximate 28 hectare area of turfgrass as part of its maintenance program.</p> 	
				<p>Shura Island will also feature several luxury boutique resorts such as the Four Seasons, <a style='font-weight:bold' href='https://www.rosewoodhotels.com/en/red-sea' target='_blank' rel='nofollow'>Rosewood</a> among 9 other luxury brands.  The island network is developed with a focus on sustainability and concerns for environmental conservation by powering the entire development with renewable energy.  Recently opened <a href="https://fescue.github.io/Sindalah-Island-Golf-Course/">Sindalah Island Resort</a> also has a golf course with Four Seasons pairing overlooking its marina.</p>
				<p>The Red Sea region is a 28,000 square kilometer coastline area with over 90 offshore islands.  22 of the 90 islands will be developed by the Red Sea Project.</p>
				<p>The <a style='font-weight:bold' href='https://www.saudigolffederation.sa/' target='_blank' rel='nofollow'>Saudi Arabian Golf Federation</a> has set a goal for 20,000 international golf tourists by 2025.  Several initiatives support this goal including the build out and development of new golf courses hiring the best international golf course architects.  The country has also started to host PGA and LPGA international golf tournaments.</p>
				<p>The Red Sea International Airport will accommodate flights inbound to the golf resort.  Activities outside of golf like diving the coral reefs in the Red Sea will be available at resorts like Nujuma, a Ritz-Carlton Reserve on Ummahat, with an active dive center.</p>
		</div>
	</div>
	
	<script>
                const map = L.map('map').setView([25.5031985,36.9616754], 8);
                const tiles = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    maxZoom: 30,
                    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
                }).addTo(map);

	        L.CustomOverlay = L.Layer.extend({
	            onAdd: function(map) {
	                this._map = map;
	                this._container = L.DomUtil.create('div', 'leaflet-custom-overlay');
					
	                // Your lite-youtube HTML
	                this._container.innerHTML = `
	                    <lite-youtube videoid="6Wp-CYq8kIE" style="background-image: url('https://i3.ytimg.com/vi/6Wp-CYq8kIE/hqdefault.jpg');">
	                        <a href="https://youtube.com/watch?v=6Wp-CYq8kIE" class="lty-playbtn" title="Play Video.  Credit: Red Sea Global">
	                            <span class="lyt-visually-hidden">Credit: Red Sea Global</span>
	                        </a>
	                    </lite-youtube>
	                `;
	        
	                // Add the container to the map
	                map._panes.overlayPane.appendChild(this._container);
	                
	                // Update the position of the overlay on the map
	                this._update();
	            },
	        
	            onRemove: function(map) {
	                L.DomUtil.remove(this._container);
	            },
	        
	            _update: function() {
	                // Position the layer. This example assumes a fixed position, but you can use map latlng to position dynamically
	                // var position = this._map.latLngToLayerPoint(this._latlng || this._map.getCenter());
	                
	                    var position = this._map.containerPointToLayerPoint([10, 10]); // Adjust the position as needed
	                L.DomUtil.setPosition(this._container, position);
	            }
	        });
	
	        // Add the custom overlay to the map
	        var myCustomOverlay = new L.CustomOverlay();
	        myCustomOverlay.addTo(map);
	
	        // Add a marker to the map at the same location as the map center
	        var marker = L.marker([25.5031985,36.9616754]).addTo(map);
	        marker.bindPopup("<b>Shurayah Island</b><br>Red Sea, Saudi Arabia</br>").openPopup();
	</script>
	<p><a href="https://fescue.github.io/Hann-Reserve/">ASEAN Golf - Hann Reserve</a></p>
	<p><a href="https://fescue.github.io/Dhoho-Golf-Club/">Brian Curley - Dhoho Golf Club</a></p>
	 
  {% include bodyFooter.html %}
 </body>	
 {% include footer.html %}
</html>
