body {
  color: #000;
  font-family: "Montserrat", sans-serif;
}

.pure-img-responsive {
  max-width: 100%;
  height: auto;
}

.font-i-want {
  font-family: "Montserrat", sans-serif;
  color: #000;
}

