---

---
<!DOCTYPE html>
<html lang="en">
 <head>  
	<title>Tepetonka: Haugejorde + Oglivy Cocking Meade</title>
	<meta name="description" CONTENT="Tepetonka Mark Haugejorde Minnesota New Golf Course Oglivy Cocking Meade Sustainable Destination Club">
	{% include h50.html %}
</head>
	
<body>	
	<div class="main-container" role="main">
		<div id="map" aria-label="Tepetonka"></div>
		<div class="content" tabindex="0" aria-label="Mark Haugejorde">
			<H1>Tepetonka - Minnesota's Destination Golf Club</H1>
			<p><a style='font-weight:bold' href='https://www.linkedin.com/in/mark-haugejorde-81662326b/' target='_blank' rel='nofollow'>Mark Haugejorde</a> has embarked on a new project to build Tepetonka, a new destination club in New London, Minnesota.  Haugejorde is founder and chairman of the new golf club.</p>
			<p><a style='font-weight:bold' href='https://tepetonka.com/' target='_blank' rel='nofollow'>Tepetonka</a> is a new golf course designed by golf architecture firm of <a style='font-weight:bold' href='https://www.ocm.golf/team/' target='_blank' rel='nofollow'>Geoff Oglivy, Mike Cocking, Ashley Meade</a>.</p> 
			<p>Haugejorde enjoyed a career for Nicklaus Design from 1995 through 2002.  Haugejorde attended the opening of Bearpath Golf & Country Club in Eden Prairie, Minnesota.  Haugejorde played college golf at the University of Houston with teammates Fred Couples and Jim Nantz.  Haugejorde outlined the club's environmental stewardship in this 2022 article in the <a style='font-weight:bold' href='https://www.wctrib.com/opinion/columns/tepetonka-club-to-our-kandiyohi-county-neighbors' target='_blank' rel='nofollow'>West Central Tribune</a>.  The Shakopee Creek is an integral part of the Tepetonka golf course.</p> 
			<p>Former golf professional from Hazeltine National and PGA of America’s Hall of Fame member Mike Schultz will serve as Director of Golf Emeritus.</p>
			<p>Founding member Jim Nantz will serve as a design consultant on the creation of The Prox, the club’s short course.</p>
			<p>Oglivy Cocking Meade(OCM) is well known for renovation work at Yangtze Dunes, Medinah #3 and Shady Oaks.  36 holes at new OCM designs at <p><a href="https://fescue.github.io/Fall-Line-Golf/">Fall Line</a> opened in 2024.</p>
		</div>
	</div>

	

    <script>		
            const map = L.map('map').setView([45.2976,-94.9425], 8);
            const tiles = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
				maxZoom: 30,
				attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
			}).addTo(map);

			L.CustomOverlay = L.Layer.extend({
	            onAdd: function(map) {
					this._map = map;
					this._container = L.DomUtil.create('div', 'leaflet-custom-overlay');
	        
	                this._container.innerHTML = `
	                    <lite-youtube videoid="DituBirxj5M" style="background-image: url('https://i3.ytimg.com/vi/DituBirxj5M/hqdefault.jpg');">
	                        <a href="https://youtube.com/watch?v=DituBirxj5M" class="lty-playbtn" title="Play Video. Credit: Tepetonka">
	                            <span class="lyt-visually-hidden">Credit: Tepetonka</span>
	                        </a>
	                    </lite-youtube>
	                `;
			
	                // Add the container to the map
	                map._panes.overlayPane.appendChild(this._container);
	                
	                // Update the position of the overlay on the map
	                this._update();
	            },
	        
	            onRemove: function(map) {
	                L.DomUtil.remove(this._container);
	            },
	        
	            _update: function() {
	                // Position the layer. This example assumes a fixed position, but you can use map latlng to position dynamically
	                // var position = this._map.latLngToLayerPoint(this._latlng || this._map.getCenter());
	                
	                var position = this._map.containerPointToLayerPoint([10, 10]); // Adjust the position as needed
	                L.DomUtil.setPosition(this._container, position);
	            }
	        });
	
	        // Add the custom overlay to the map
	        var myCustomOverlay = new L.CustomOverlay();
	        myCustomOverlay.addTo(map);
	
	        // Add a marker to the map at the same location as the map center
	        var marker = L.marker([45.2976,-94.9425]).addTo(map);
	        marker.bindPopup("<b>Tepetonka</b><br>New London, Minnesota</br>").openPopup();
	</script>
    	<p><a href="https://fescue.github.io/Childress-Hall/">Childress Hall in Texas</a></p>
	{% include bodyFooter.html %}
 </body>	
 {% include footer.html %}
</html>
