---

---
<!DOCTYPE html>
<html lang="en">
<head>
  <title>The Rose - New Golf Course in Georgia</title>
  <meta name="description" CONTENT="The Rose Georgia Tripp Davis Nick Cassini">
  <link rel="stylesheet" href="/css/lite-yt-embed.css" 
  {% include headerI.html %}
</head>

<body>
	
  <H1>The Rose in Georgia</H1>
  <div class="container">
    <div class="row">
		<div class="col-md-6 col-sm-12">
			<p>The Rose is a newly proposed golf course near Athens, Georgia.  Golf architect <a style='font-weight:bold' href='https://www.tdagolf.net/' target='_blank' rel='nofollow'>Tripp Davis</a> has designed a 7,400 championship layout to challenge and accommodate all levels in the game.</p>
			<p>The property promises to be a significant development in golf architecture and landscape design. The 592 acre property in Hull, Georgia was sold by J. Otis Rylee at <a style='font-weight:bold' href='https://naibg.com/nai-brannen-goddard-facilitates-land-sale-for-the-rose-golf-club-a-premier-development-backed-by-golfing-legend-bubba-watson/' target='_blank' rel='nofollow'>NAI Brannen Goddard</a>.  With a 15 minute from Athens and the University of Georgia, the property has already received anticipation from the local men's and women's golf teams at the university.  The 18-hole invitation member club is planned to open in 2026.</p>
			<p>Developers <a style='font-weight:bold' href='https://www.usga.org/content/usga/home-page/championships/2018/u-s--mid-amateur/articles/time--perspective-have-cassini-enjoying-competitive-golf-again.html' target='_blank' rel='nofollow'>Nick Cassini</a> and Dimitri Cassini of Cassini Holdings are the visionaries behind the project.  Nick Cassini enjoyed a prominent amateur golf career, playing on 2001 Walker Cup and for The University of Georgia golf team.  The Cassini family has prior success in leadership at <a style='font-weight:bold' href='https://fordfieldandriverclub.com/our-story/' target='_blank' rel='nofollow'>The Ford Field & River Club</a> in Richmond Hill, Georgia.</p>
			<p>Nick Cassini has long term views on the golf course as an asset to the community as well as a leader in national amateur golf and university golf.  Plans were approved by the Madison County Board of Commissioners in January 2024.  The project has an early, site walk through endorsement from past Masters champion Bubba Watson.  Other prominent founding members from The PGA Tour are Brendan Todd and Chris Kirk.</p>
			<iframe src="https://www.instagram.com/reel/C2OHvZZtCb9/embed/" width="400" height="450" frameborder="0" scrolling="no" allowtransparency="true" loading="lazy"></iframe>
		</div>
	        <div class="col-md-6 col-sm-12">
			<lite-youtube videoid="szrBAPArTB4" style="background-image: url('https://i3.ytimg.com/vi/szrBAPArTB4/hqdefault.jpg'); margin: 10px;">
					  <a href="https://youtube.com/watch?v=szrBAPArTB4" class="lty-playbtn" title="Play Video">
					    <span class="lyt-visually-hidden">Madison County</span></a>
			</lite-youtube>
			<p>Tripp Davis is an up and coming golf course architect with a national background in amateur golf.  Davis has made significant contributions in Georgia with his work on Augusta Country Club, Atlanta Athletic Club, and <a style='font-weight:bold' href='https://fescue.github.io/Ridgewood-Country-Club-Waco/' target='_blank'>Ridgewood Country Club</a>.  Davis' leadership in their renovation and restoration projects have been recognized as instrumental in preserving their legacy to enhance playability and aesthetic appeal.</p>
			<p><a style='font-weight:bold' href='https://en.wikipedia.org/wiki/Augusta_Country_Club' target='_blank' rel='nofollow'>Augusta Country Club</a> founded in 1899 is a Donald Ross design and adjacent to the Augusta National Golf Club in Georgia.  Davis was entrusted with modernization and preservation of the historic design.  Davis enhanced strategic aspects of the course while preserving the traditional Ross character.</p>
			<p>Davis' work at the Atlanta Athletic Club focused on the Highlands Course, which had previously been redesigned by Robert Trent Jones Sr. and then by his son Rees Jones.  Davis' renovation was aimed at refining the course including strategic bunkering, reshaping of greens, and modern turf management practices to advance playing conditions year-round.</p>
			<p>The trend of new golf course construction shifting to the Southeast United States has been noticeable with several new projects in Georgia, South Carolina, and Tennessee over the past decade.  University of Georgia golf coach Chris Haack has compared the potential of The Rose to Gil Hanse/Jim Wagner's Ohoopee Match Club in Cobbtown, Georgia or Tom Fazio's Congaree in South Carolina.</p>
			<p>Local community involvement outlined for The Rose is an annual golf tournament for Madison County Chamber of Commerce.  Ken Morgan is the high school golf coach for The Madison County High School golf team.  Plans are to have a match with practice rounds in advance to help the team learn and prepare for the match.  The site is also being planned to have the capability of hosting a future NCAA National Championship with The University of Georgia as the host.</p>
			<p>The Madison County planning video outlines the details of golf course approvals. From a civil engineer there is a licensed survey required.  Consultants to the project include golf Architects working with landscape architects.  Zoning changes and tax revenue from future residential property taxes are considerations for the county and local residents.  Paving the neighborhood for interior roads and a Homewoners Association(HOA) are part of the planning.  Geotechnical Engineers and environmental consultants are included early in the project before the country submission.  Planning for sourcing water from wells and runoff into low lying areas is part of the landscape and design efforts.</p>
		</div>	    
    </div>
	  
  </div>
 </div>
  {% include bodyFooter.html %}
 </BODY>	
 {% include footer.html %}
</html>
