---

---
<html lang="en">
<head>
  <title>The Rose - New Golf Course in Georgia</title>
  <meta name="description" CONTENT="The Rose Georgia Tripp Davis Nick Cassini">
  {% include headerI.html %}
</head>

<body>	
  <H1>The Rose in Georgia</H1>
  <div class="container">
    <div class="row">
		<div class="col-md-6 col-sm-12">
			<blockquote class="instagram-media" data-instgrm-permalink="https://www.instagram.com/bubbawatson/reel/C2OHvZZtCb9/" data-instgrm-version="13"></blockquote>
			<script async src="https://www.instagram.com/embed.js"></script>
		</div>
	        <div class="col-md-6 col-sm-12">
				<p>The Rose is a newly proposed golf course near Athens, Georgia.  Golf architect <a style='font-weight:bold' href='https://www.tdagolf.net/' target='_blank' rel='nofollow'>Tripp Davis</a> has designed a 7,400 championship layout to challenge and accommodate all levels in the game.</p>
				<p>The property promises to be a significant development in golf architecture and landscape design. Spanning 588 acres in Hull, less than 15 minutes from Athens and the University of Georgia.  The 18-hole invitation member club is planned to open in 2026.</p>
				<p>Developers <a style='font-weight:bold' href='https://www.usga.org/content/usga/home-page/championships/2018/u-s--mid-amateur/articles/time--perspective-have-cassini-enjoying-competitive-golf-again.html' target='_blank' rel='nofollow'>Nick Cassini</a> and Dimitri Cassini of Cassini Holdings are the visionaries behind the project.  Nick Cassini enjoyed a prominent amateur golf career, playing on 2001 Walker Cup and for The University of Georgia golf team.  Cassini has long term views on the golf course as an asset to the community as well as a leader in national amateur golf and university golf.  Plans were approved by the Madison County Board of Commissioners in January 2024.  The project has an early, site walk through endorsement from past Masters champion Bubba Watson.  Other notable founding members from The PGA Tour are Brendan Todd and Chris Kirk.</p>
			</div>
    </div>
	 
  </div>
 </div>
  {% include bodyFooter.html %}
 </BODY>	
 {% include footer.html %}
</html>
