---

---
<html lang="en">
<head>
  <title>Renovation - The National Golf Course at Long Island, Victoria</title>
  <meta name="description" CONTENT="Renovation - The National Golf Course at Long Island Victoria Australia OCM Geoff Oglivy Mike Cocking Ashley Mead">
  {% include header.html %}
</head>
<BODY>
  <H1>Oglivy Cocking Mead Renovation - The National, Long Island</H1>

  <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <blockquote class="instagram-media" data-instgrm-permalink="https://www.instagram.com/p/CyDO8EDBtLQ/" data-instgrm-version="13"></blockquote>
                <script async src="https://www.instagram.com/embed.js"></script>
            </div>
            <div class="col-sm-6">			
				<p>The National Golf Course at Long Island in Victoria, Australia is one of the four courses that members of The National Golf Club can access.  It is located in Frankston, south-east of Melbourne, and was designed by golf architect Gordon Oliver in 1938.</p>
				<p>The course is known for its natural beauty, challenging layout, and strategic bunkering.  The course is undergoing a major renovation project by <a style='font-weight:bold' href='https://www.ocm.golf/' target='_blank' rel='nofollow'>Oglivy Cocking Mead(OCM)</a> in 2023 and is expected to be completed by 2024. OCM published <a style='font-weight:bold' href='https://www.ocm.golf/long-island-enhancement-plan/' target='_blank' rel='nofollow'>this renovation plan</a> in 2021 and updated current progress on construction in <a style='font-weight:bold' href='https://www.ocm.golf/a-long-island-journeydecember-2023/' target='_blank' rel='nofollow'>December 2023</a>.  The renovation will aim to enhance the irrigation, drainage, strategy, variety, and playability.  Aesthetics and sustainability will also be improved.</p>
				<p>Some of the primary benefits of the renovation plan are:</p>
				<LI>Linking some of the fairways to create more open spaces and improve turf quality</LI>
				<LI>Rebuilding all the greens, tees, and bunkers to modern standards and specifications</LI>
				<LI>Adding more native vegetation and wildlife habitats to increase biodiversity and environmental value</LI>
				<LI>Installing a new irrigation system that will use recycled water from the Monterey Recycled Water Scheme</LI>
				<LI>Improving the drainage and stormwater management to prevent flooding and erosion</LI>
				<p>The renovation project is funded in part by South East Water, Frankston City Council, and The National Golf Club. It is expected to provide a more reliable/sustainable water source for the course its surrounding community.  Rankings in Australian's national golf magazine is already recognized very high and anticipated to improve.  The club may also plan to host prestigious tournaments and events on the renovated course in the future.</p>
             </div>
        </div>	
        <div class="video-container">
			<iframe src="https://player.vimeo.com/video/726919572" allow="autoplay; fullscreen" allowfullscreen="allowfullscreen" frameborder="0"></iframe>
        </div>
        <H6><b>Credit: </b>The National Golf Club</H6>
   </div>
  {% include bodyFooter.html %}
 </BODY>
 {% include footer.html %}
</html>




