---

---
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Bahamas - Torch Cay Island - Coore Crenshaw Golf</title>
	<meta name="description" CONTENT="Bahamas Torch Cay Penske Coore Crenshaw Golf">
	{% include headerI.html %}
</head>

<body>
	<H1>Torch Cay Island - Penske - Coore Crenshaw Golf</H1>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/BpJEsAJ9umU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
				<h5>Torch Cay MOU Signing Ceremony, Credit: ZNSNetwork</h5>
			</div>
		</div>
	</div>	
	<div class="container">
		<div class="row">
				<div class="col-sm-6">
					<blockquote class="instagram-media" data-instgrm-permalink="https://www.instagram.com/p/CjsknhuuJ7j/" data-instgrm-version="13"></blockquote>
					<script async src="https://www.instagram.com/embed.js"></script>

					<blockquote class="instagram-media" data-instgrm-permalink="https://www.instagram.com/p/CuIz5ljNips/" data-instgrm-version="13"></blockquote>
					<script async src="https://www.instagram.com/embed.js"></script>					
				</div>
				<div class="col-sm-6">
					<p><a href='https://en.wikipedia.org/wiki/Torch_Cay,_Exuma' target='_blank' rel='nofollow'>Torch Cay</a> is an island located east of Little Exuma at the southernmost point of the Exuma island chain in the Bahamas. The island is the largest private island in the Bahamas with an area of 707 acres.  Torch Cay Airport infrastructure is built to land with an ultra-long-range or heavy private jet.</p>
					<p>In January 2023 the Government of the Bahamas signed a Heads of Agreement with Philip Penske of PMR Bahamas to develop an upscale resort and residential community on Torch Cay.  The project is budgeted at $170+ million and is expected to create hundreds of jobs during construction and operation.</p>
					<p>The resort will build a <a href='https://www.torchcay.com/landing-copy#golf' target='_blank' rel='nofollow'>private golf course designed by Bill Coore & Ben Crenshaw tipping out at 7,007 yards</a>.  Build out of the resort is expected to take 8-10 years.  Other amenities include a marina and boutique hotel.   There will be a residential community with a mix of single family homes.</p>
					<p>Climate on Torch Cay is tropical with average temperatures from 75°F to 85°F (24°C to 29°C) throughout the year. The wet season runs from May to October with an average of 60 inches (152 cm) of precipitation annually.  The climate on Torch Cay is kept cool by trade winds from the northeast.  Seawater temperature around the island is warm, averaging 80°F (27°C) year-round.</p>
					<p>Soil type on Torch Cay is a mixture of sand, coral, and limestone.   Coral and limestone are remnants of ancient coral reefs. The soil is relatively shallow, with an average depth of 6 feet (1.8 m).  Sandy soil on Torch Cay is well above high tide and protected.</p>
					<p>Bill Coore and Ben Crenshaw have made multiple sites visit to walk the routing of golf holes with design associate Trev Dormer.  Keith Rhebb is active onsite and has begun shaping.</p>
					<p>The first tee will be one of the most sought after starting times in golf when the club opens.</p>
				</div>
	  	</div>
	</div>
    <p><a href="https://www.torchcay.com/landing-copy#golf">Torch Cay</a></p>
    <p><a href="https://thenassauguardian.com/170-million-exuma-development-projected-to-create-hundreds-of-jobs/">Nassau Guardian</a></p>
    <p><a href="https://fescue.github.io/Lake-Martin-Wicker-Point-Golf/">Coore Crenshaw Lake Martin</a></p>
  {% include bodyFooter.html %}
 </BODY>	
 {% include footer.html %}
</html>
