---

---
<!DOCTYPE html>
<html lang="en">
 <head> 
  <title>New Golf Course - Twin Bridges, Montana</title>
  <meta name="description" CONTENT="New Golf Course Construction Build Bunker Sand Mountain Twin Bridges Montana Big Hole River Montana Yellowstone">
  {% include h50.html %}
</head>			

<body>
	<div class="main-container" role="main">
		<div id="map" aria-label="Montana"></div>
			<div class="content" tabindex="0"  aria-label="Golf">
					<H1>New Golf Course - Big Hole River - Twin Bridges</H1> 
					<p>Twin Bridges, Montana is new site for a new golf course on the Big Hole River downstream from the <a style='font-weight:bold' href='https://en.wikipedia.org/wiki/Beaverhead_Mountains' target='_blank' rel='nofollow'>Beaverhead Mountains</a> area in Southwest Montana.  90 minutes from Bozeman or 2 hours to Yellowstone National Park, the area is centrally located.  The Big Hole River is a well known for fly fishing.</p>
					<p>Golf course construction is underway.  <a style='font-weight:bold' href='https://x.com/goalbygolf' target='_blank' rel='nofollow'>Kye Goalby</a> is leading design build efforts onsite.  Design associates of Goalby onsite are Eamon Sullivan and Matt Smallwood.  Sullivan and Smallwood also assisted Goalby build Zac Blair's Tree Farm in South Carolina.</p>
			</div>
	</div>

    <script>
            const map = L.map('map').setView([45.5427433,-112.3388206], 9);
            const tiles = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
				maxZoom: 30,
				attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
			}).addTo(map);

			L.CustomOverlay = L.Layer.extend({
	            onAdd: function(map) {
					this._map = map;
					this._container = L.DomUtil.create('div', 'leaflet-custom-overlay');			
			
	                // Add the container to the map
	                map._panes.overlayPane.appendChild(this._container);
	                
	                // Update the position of the overlay on the map
	                this._update();
	            },
				
	            onRemove: function(map) {
	                L.DomUtil.remove(this._container);
	            },
	        
	            _update: function() {
	                // Position the layer. This example assumes a fixed position, but you can use map latlng to position dynamically
	                // var position = this._map.latLngToLayerPoint(this._latlng || this._map.getCenter());
	                
	                var position = this._map.containerPointToLayerPoint([10, 10]); // Adjust the position as needed
	                L.DomUtil.setPosition(this._container, position);
	            }
	        });
	
	        // Add the custom overlay to the map
	        var myCustomOverlay = new L.CustomOverlay();
	        myCustomOverlay.addTo(map);
	
	        // Add a marker to the map at the same location as the map center
	        var marker = L.marker([45.5427433,-112.3388206]).addTo(map);

	        marker.bindPopup("<b>Twin Bridges, Montana</b>").openPopup();
	</script>
	<p><a href="https://fescue.github.io/Great-Keppel-Island/">Great Keppel Island</a></p>
	{% include bodyFooter.html %}
 </body>	
 {% include footer.html %}
</html>
