	<table style="width:100%">
		<tr>
			<th><a style='font-weight:bold' href="https://fescue.github.io/">Active Projects</a></th>
			<th><a style='font-weight:bold' href="https://fescue.github.io/incomplete/">Announced - Permits - NLE</a></th>
			<th><a style='font-weight:bold' href="https://fescue.github.io/2022/">2022 Openings</a></th>
			<th><a style='font-weight:bold' href="https://fescue.github.io/2021/">2021 archive</a></th>
			<th><a style='font-weight:bold' href="https://fescue.github.io/2020/">2020 archive</a></th> 
			<th><a style='font-weight:bold' href="https://fescue.github.io/2019/">2019 archive</a></th>
		</tr>
	</table>
