<div class="flex--row flex--spacebetween">
			
    <nav class="flex--fifty">
        <ul class="list--nostyles flex--row flex--spacebetween">
            <li class="flex--auto"><a class="link-nav" href="/work/">Work</a></li>
            <li class="flex--auto"><a class="link-nav" href="/blog/">Blog</a></li>
            <li class="flex--auto"><a class="link-nav" href="/about/">About</a></li>
        </ul>
    </nav>
    
    <footer>
        <p class="copyright" translate="no">&copy;&nbsp;Paul Foster</p>
    </footer>
    
</div>
