<header class="wrap-logo">
    <a href="/" class="logo-link"><img class="logo-img" role="img" src="/assets/images/pfdlogo-drop.svg" width="300" height="150" alt="Paul Foster Design Logo" loading="eager"></a>
</header>

<div class="wrap-banner">
                
    <nav>
        <ul class="wrap-banner--nav flex--col flex--row list--nostyles h2">
            <li class="flex--fifty"><a class="link__nav--home" href="/">paulfosterdesign</a></li>
            <li class="flex--auto flex--justifycenter"><a href="/work/">Work</a></li>
            <li class="flex--auto flex--justifycenter"><a href="/blog/">Blog</a></li>
            <li class="flex--auto flex--justifycenter"><a href="/about/">About</a></li>
        </ul>
    </nav>

    <p class="h3 tagline">Web designer + front-end developer with experience in high-traffic ecommerce sites for some well known brands.</p>

</div>