<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,viewport-fit=cover">
<title>{{ page.title }} | {{ site.url }}</title>
<link rel="stylesheet" href="/assets/css/style.css">
<link rel="stylesheet" href="/assets/css/style-layout.css" media="only screen and (min-width: 800px)">
{% feed_meta %}
<link rel="icon" href="/assets/images/pfd-favicon.svg" sizes="any" type="image/svg+xml">
<link rel="icon" href="/assets/images/pfd-webclip-196x196.png" sizes="196x196">
<link rel="icon" href="/assets/images/pfd-webclip-128x128.png" sizes="128x128">
<meta name="theme-color" content="#98fdff">
<meta name="apple-mobile-web-app-title" content="Paul Foster">
<meta name="application-name" content="Paul Foster Portfolio">
{% if page.description %}
<meta name="description" content="{{ page.description }}">
<meta property="og:description" content="{{ page.description }}">
{% else %}
<meta property="og:description" content="{{ page.excerpt | strip_html }}">
{% endif %}
<meta property="og:title" content="{{ page.title }} | {{ site.url }}">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ page.url }}">
<meta property="og:site-name" content="{{ site.url }}">
<meta property="og:locale" content="en_GB">
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@plfstr">
<meta name="twitter:domain" content="{{ site.url }}">