{% if page.date %}
<p><small>Posted <time class="dt-published" datetime="{{ page.date }}">{{ page.date | date: "%d/%m/%Y" }}</time></small></p>
{% endif %}
{% if page.syndicated %}
<section>
<h2 class="invisible">Syndication</h2>
<p><small>Post syndicated to:</small></p>
<ul>
    {% for syndilink in page.syndicated %}
    <li><a href="{{ syndilink }}" class="u-syndication" rel="syndication">{{ syndilink }}</a></li>
    {% endfor %}
</ul>
</section>
{% endif %}
<footer>
    <p class="invisible" aria-hidden="true"><small>&lsquo;<span class="p-name"><a href="{{ page.url }}" class="u-url">{{ page.title }}</a></span>&rsquo; published by <a href="https://www.paulfosterdesign.co.uk" class="p-author h-card">Paul Foster</a> (www.paulfosterdesign.co.uk), a web designer / front-end developer, based in Cambridgeshire, UK.</small></p>
</footer>