<div id="sidebar" class="mb-6 md:pt-12">
			
    <section class="mb-6">
        <h2>Work</h2>
        <nav role="navigation">
            <ul class="list--nostyles list__navigation">
                <li><a href="/work/blackandwhitesquares/" class="link__nav link__nav--project">blackandwhitesquares</a></li>
                <li><a href="/work/print-theme/" class="link__nav link__nav--project">Print Theme</a></li>
                <li><a href="/work/nintendo-hub/" class="link__nav link__nav--project">Nintendo Hub</a></li>
                <li><a href="/work/game-app/" class="link__nav link__nav--project">Game App</a></li>
                <li><a href="/work/streetfighter-mailer/" class="link__nav link__nav--project">Streetfighter Mailer</a></li>
                <li><a href="/work/gameplay-templates/" class="link__nav link__nav--project">Gameplay Templates</a></li>
                <li><a href="/work/christmas-cracker/" class="link__nav link__nav--project">Christmas Cracker</a></li>
                <li><a href="/work/ringsize-guide/" class="link__nav link__nav--project">Ringsizer</a></li>
            </ul>
        </nav>
    </section>
    
    <section class="mb-6">
        <h2>Posts</h2>
        <ul class="list--nostyles list__navigation">
            <li><a href="/blog/year-review-2019/">Year Review 2019</a></li>
            <li><a href="/blog/colordinates-app-a11y/">Colordinates App A11Y</a></li>
            <li><a href="/blog/mobile-browser-choice-revisited/">Mobile Browser Choice Revisited</a></li>
        </ul>
        <p><a href="/blog/">All Posts</a></p>
    </section>

</div>