<div id="sidebar" class="wrap-sidebar">
			
    <section>
        <h2>Work</h2>
        <nav role="navigation">
            <ul class="list--nostyles h3">
                <li><a href="/work/blackandwhitesquares/">blackandwhitesquares</a></li>
                <li><a href="/work/print-theme/">Print Theme</a></li>
                <li><a href="/work/nintendo-hub/">Nintendo Hub</a></li>
                <li><a href="/work/game-app/">Game App</a></li>
                <li><a href="/work/streetfighter-mailer/">Streetfighter Mailer</a></li>
                <li><a href="/work/gameplay-templates/">Gameplay Templates</a></li>
                <li><a href="/work/christmas-cracker/">Christmas Cracker</a></li>
                <li><a href="/work/ringsize-guide/">Ringsizer</a></li>
            </ul>
        </nav>
    </section>
    
    <section>
        <h2>Posts</h2>
        <ul class="list--nostyles h3">
            {% for blogpost in site.posts limit:3 %}
            <li><a href="{{ blogpost.url }}">{{ blogpost.title }}</a></li>
            {% endfor %}
        </ul>
        <p><a href="/blog/">All Posts</a></p>
    </section>

</div>