<div id="socialicons">

    <ul class="list--nostyles flex--row">
        <li>
            <a href="https://twitter.com/plfstr" rel="me">
                <svg focusable="false" aria-hidden="true" class="icon icon--twitter">
                    <use xlink:href="/assets/images/icons-social.svg#icon--twitter" viewBox="0 0 1024 1024"></use>
                </svg>
                <span class="invisible">Twitter</span>
            </a>
        </li>
        <li>
            <a href="https://mastodon.social/@plfstr" rel="me">
                <svg focusable="false" aria-hidden="true" class="icon icon--mastodon">
                    <use xlink:href="/assets/images/icons-social.svg#icon--mastodon" viewBox="0 0 32 32"></use>
                </svg>
                <span class="invisible">Mastodon</span>
            </a>
        </li>
        <li>
            <a href="https://codepen.io/plfstr" rel="me">
                <svg  focusable="false" aria-hidden="true" class="icon icon--codepen">
                    <use xlink:href="/assets/images/icons-social.svg#icon--codepen" viewBox="0 0 1024 1024"></use>
                </svg>
                <span class="invisible">CodePen</span>
            </a>
        </li>
        <li>
            <a href="https://github.com/plfstr" rel="me">
                <svg focusable="false" aria-hidden="true" class="icon icon--github">
                    <use xlink:href="/assets/images/icons-social.svg#icon--github" viewBox="0 0 32 32"></use>
                </svg>
                <span class="invisible">GitHub</span>
            </a>
        </li>
    </ul>
        
</div>
