<div id="socialicons">

    <ul class="flex flex-wrap flex-initial list-none p-0 m-0">
        <li>
            <a href="https://twitter.com/plfstr/" rel="me">
                <svg role="img" class="icon icon--twitter"><use xlink:href="assets/images/icons-social.svg#icon--twitter" viewBox="0 0 1024 1024"></use><title>Twitter</title></svg>
            </a>
        </li>
        <li>
            <a href="https://codepen.io/plfstr/" rel="me">
                <svg role="img" class="icon icon--codepen"><use xlink:href="assets/images/icons-social.svg#icon--codepen" viewBox="0 0 1024 1024"></use><title>CodePen</title></svg>
            </a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/paulfosterdesign" rel="me">
                <svg role="img" class="icon icon--linkedin2"><use xlink:href="assets/images/icons-social.svg#icon--linkedin2" viewBox="0 0 1024 1024"></use><title>LinkedIn</title></svg>
            </a>
        </li>
    </ul>
        
</div>