h1, h2, p {
	margin: 0 0 1.5rem;
}

.wrap-content {
	grid-column: 1/span 2;
    grid-row: auto;
    margin-top: 0;
}

.wrap-all {
    width: 100%;
    grid-row-gap: 1.5rem;
    row-gap: 1.5rem;
}

.grid--projects {
    grid-column: 1/span 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 1rem;
    gap: 1rem;
    margin-bottom: 0;
}
@media only screen and (min-width:1050px) {
    .grid--projects {
        grid-gap: 2.5rem;
        gap: 2.5rem;
        margin-left: -1.26rem;
        margin-right: -1.26rem;
    }
}

@media only screen and (hover:hover) {
    .figure__featimg {
        transition: transform .1s ease
    }

    .figure__featimg:hover,.figure__featimg:active {
        transform: scale(1.05)
    }
}

.wrap-preview {
    margin-bottom: 0
}

.wrap-preview--image {
    max-width: 270px
}

.copyright {
    margin: auto
}