body {
    background-attachment: fixed;
}

h1,h2 {
    font-family: 'Arial Black', Tahoma, 'Avenir Next', Verdana, sans-serif;
    text-transform: uppercase
}

h1:before {
    content: "/";
    color: var(--col-highlight)
}

@media (min-width: 1200px) {
    h3, .h3 {
        font-size: 1.625em;
    }
}

.wrap-banner--pfd {
    display: block
}

@supports (display:grid) {	
	.wrap-all {
        max-width: 1000px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 2.5fr 7.5fr;
        grid-template-columns: 3fr minmax(7fr,700px);
        grid-gap: 2rem;
        gap: 2rem;
        gap: clamp(2rem, 3.5vw, 5rem);
    }

    .wrap-content {
        grid-column-start: 2;
        grid-row-start: 2;
    }

    @media (min-width: 1024px) {
        .wrap-all{
            margin-top: 1.5rem;
            grid-template-columns: 1fr 700px;
        }
        
        .wrap-content {
            margin-top: -2rem
        }
    }

    @media (min-height: 45rem) {
        .wrap-sidebar {
            position: sticky;
            top: 3rem;
            align-self: start;
        }
    }
}

.link__nav--home {
    color: var(--col-body)!important;
    font-weight: bolder
}

.wrap-logo {
    margin: 0
}

.wrap-logo--link {
    display: block;
    transform: translate(1rem, 3.5rem) rotate(-18deg) scale(1.4)
}

@media (min-width: 1200px) {
    .figure__featimg {
        position: relative;
        box-shadow: none
    }

    .figure__featimg:after {
        content: "";
        position: absolute;
        display: block;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        inset: 0;
        z-index: -1;
        transform: translate(12%,30%) scaleY(.5) skew(-15deg);
        background-color: var(--col-secondary)
    }

    .figure__featimg.figure__featimg--portrait:after {
        transform: translate(22%,30%) scaleY(.5) skew(-15deg);
    }
}

.wrap-preview {
    margin-bottom: 3rem;
    padding: 0;
    overflow: auto;
    background-color: transparent;
}

@supports (display:flow-root) {
    .wrap-preview {
        display: flow-root;
        overflow: visible;
    }
}

.wrap-preview--title:before {
    color: currentColor
}

.wrap-preview--image {
    float: right;
    float: inline-end;
    margin-inline-start: .5rem;
    margin-bottom: 0;
    max-width: 40%;
}

@supports (display: grid) {
.wrap-cards {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 1.5rem;
	column-gap: 1.5rem;
}

.wrap-cards .wrap-preview--image {
	float: none;
	margin: 0 0 1.5rem;	
	max-width: none;
}

.wrap-cards .wrap-preview--title {
	font-size: 1.85rem;
	word-break: break-word;
}
@supports (grid-template-rows: subgrid) {
	.wrap-cards .wrap-preview {       
	    display: inline-grid;
	    grid-template-rows: subgrid;
	    grid-row: auto / span 3;
	    margin-bottom: 0;
	}
}
}