h1, h2, p {
	margin: 0 0 1.5rem;
}

.wrap-content {
	grid-column: 1/span 2;
    grid-row: auto;
    margin-top: 0;
}

.wrap-all {
    width: 100%;
    grid-row-gap: 1.5rem;
    row-gap: 1.5rem;
}

.grid--projects {
    grid-column: 1/span 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 1rem;
    gap: 1rem;
    margin-bottom: 0;
}
@media only screen and (min-width:1050px) {
    .grid--projects {
        grid-gap: 2.5rem;
        gap: 2.5rem;
        margin-left: -1.26rem;
        margin-right: -1.26rem;
    }
}

.figure--hover {
    position: relative;
    margin: 0;
    padding: 0;
    transition: transform .1s ease;
}

.figure--hover figcaption {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    inset: 0;
    padding: 5.5rem .5rem;
    text-align: center;
    font-weight: bold;
    opacity: 0;
    color: var(--col-body, #fff);
    background-color: rgba(35, 120, 138, 0.8);
    transition: transform 0.2s ease 0s;
    hyphens: auto;
    z-index: 77;
}

.figure--hover:hover, .figure--hover:focus {
    transform: scale(1.05);
}

.figure--hover:hover figcaption, .figure--hover:focus figcaption {
    opacity: 1;
}

.figure--hover:hover .figure__featimg, .figure--hover:focus .figure__featimg {					
    filter: grayscale();
}

.wrap-preview {
    margin-bottom: 0
}

.wrap-preview--image {
    max-width: 270px
}

.copyright {
    margin: auto
}