body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(-12deg,var(--col-primary),85%,var(--col-highlight))
}

h1,h2,h3 {
    font-family: var(--font-slab, sans-serif);
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1.5rem
}

h1:before {
    content: "/";
    color: var(--col-highlight)
}

.wrap-banner .flex--fifty {
    display: block
}

@supports (display:grid) {
	
	.wrap-all {
        max-width: 1000px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 2.5fr 7.5fr;
        grid-template-columns: 3fr minmax(7fr,700px);
        grid-gap: 1.5rem;
        gap: 1.5rem
    }

    .wrap-content {
        grid-column-start: 2;
        grid-row-start: 2;
        margin-top: -2em
    }
	
	@media only screen and (min-width:1024px) {
        .wrap-all{grid-gap: 3rem;
        gap: 3rem;
        margin-top: 1.5rem;
        grid-template-columns: 1fr 700px
    }
}}

.wrap-banner {
    padding-top: 4rem
}

.wrap-banner--nav {
    margin-bottom: 2rem
}

.link__nav--home {
    color: var(--col-body)!important;
    font-weight: bolder
}

.wrap-logo {
    margin: 0
}

.wrap-logo--img {
    transform: translateY(3.5rem) rotate(-17deg) scale(1.4)
}

@media only screen and (min-width:1200px) {
    .figure__featimg {
        position: relative;
        box-shadow: none
    }

    .figure__featimg:after {
        content: "";
        position: absolute;
        display: block;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        transform: translate(12%,30%) scaleY(.5) skew(-15deg);
        background-color: var(--col-secondary)
    }

    .figure__featimg.figure__featimg--portrait:after {
        transform: translate(22%,30%) scaleY(.5) skew(-15deg);
    }
}

a[rel=tag],a[rel=tag]:before {
    text-decoration-skip: none;
    text-decoration-skip-ink: none
}

a[rel=tag]:before {
    content: "#"
}

a[href*="#pickedpen"],a[href*="#editorspick"] {
    color: #ff0;
    text-decoration-color: currentColor
}

.wrap-preview {
    margin-bottom: 3rem;
    padding: 0;
    overflow: auto;
    background-color: transparent;
}

@supports (display:flow-root) {
    .wrap-preview {
        display: flow-root;
        overflow: visible;
    }
}

.wrap-preview h1:before {
    color: currentColor
}

.wrap-preview--image {
    float: right;
    margin: .5rem;
    max-width: 33%
}

.copyright {
    margin: 0
}