---
title: Blog
description: Paul Foster has a blog now. A place for new projects, code demos and general web musings to appear for you to read.
layout: default
---                
<p>A place for new projects, code demos and general webby musings to appear for you to read. Subscribe to my posts via <abbr title="Really Simple Syndication">RSS</abbr>.</p>

{% for post in paginator.posts %}
<article class="wrap-preview">
    <h1 class="wrap-preview--title"><a href="{{ post.url }}">{{ post.title }}</a></h1>
    <p>{{ post.excerpt | strip_html | default: post.description }}</p>
</article>
{% endfor %}

<nav>
<ul class="list--nostyles flex--row flex--spacebetween flex--gapped">
    {% if paginator.next_page %}
    <li><a class="button" href="{{ paginator.next_page_path }}" rel="prev">Earlier Posts</a></li>
    {% endif %}
    {% if paginator.previous_page %}
    <li><a class="button" href="{{ paginator.previous_page_path }}" rel="next">Recent Posts</a></li>
    {% endif %}
</ul>
</nav>
