<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
  </head>

  <body>
    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">
          <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" /></a>

          <div class="site-info">
            <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
            <p class="site-description">{{ site.description }}</p>
          </div>

          <nav>
            <a href="{{ site.baseurl }}/">Fescue</a>
            <a href="{{ site.baseurl }}/about">About - Contact Us</a>
          </nav>
        </header>
      </div>
    </div>

    <div id="main" role="main" class="container">
    
    	<H1>Contact Us</H1>

	<form method="post" action="https://forms.un-static.com/forms/2f9993c210a18132f06099166a4a4df207cafda8">
	  <div class="form-group row">
		<label for="name" class="col-4 col-form-label">Name</label>
		<div class="col-8">
		  <div class="input-group">
			<div class="input-group-addon">
			  <i class="fa fa-user"></i>
			</div>
			<input id="name" name="name" placeholder="Please enter your name" type="text" required="required" class="form-control">
		  </div>
		</div>
	  </div>
	  <div class="form-group row">
		<label for="email" class="col-4 col-form-label">E-mail address</label>
		<div class="col-8">
		  <div class="input-group">
			<div class="input-group-addon">
			  <i class="fa fa-envelope"></i>
			</div>
			<input id="email" name="email" placeholder="Your e-mail address" type="text" required="required" class="form-control">
		  </div>
		</div>
	  </div>
	  <div class="form-group row">
		<label for="message" class="col-4 col-form-label">Message</label>
		<div class="col-8">
		  <textarea id="message" name="message" cols="40" rows="10" required="required" class="form-control"></textarea>
		</div>
	  </div>
	  <div class="form-group row">
		<div class="offset-4 col-8">
		  <button name="submit" type="submit" class="btn btn-primary">Send</button>
		</div>
	  </div>
	  <div class="text-center">
		<p><small>(Powered by <a rel="nofollow" href="Un-static Forms">Un-static Forms</a>)</small></p>
	  </div>
	</form>
   
    </div>

    
    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include svg-icons.html %}
        </footer>
      </div>
    </div>

    {% include analytics.html %}
  </body>
</html>
