<!DOCTYPE html>
<html lang="en-GB">
<head>
{% include meta.html %}
<link rel="stylesheet" href="/assets/css/style-home.css" media="only screen and (min-width: 800px)">
</head>
<body>

    <div class="wrap-all">

        {% include header.html %}

        <main id="content" class="wrap-content">
	
            <article class="wrap-all">
            	
                <div class="grid--projects">
                    
                    <a href="/work/blackandwhitesquares/">
                        <figure class="figure--hover">
                            <div class="figure__featimg">
				<img src="/assets/images/baws.thumb.jpg" srcset="/assets/images/baws.thumb.jpg 320w, /assets/images/baws.jpg 700w" sizes="(min-width:800px) 320px, calc(100vw-1.5rem)" alt="blackandwhitesquares.com" loading="eager" width="320" height="220">
			    </div>
                            <figcaption>blackandwhite&shy;squares</figcaption>
                        </figure>
                    </a>
                
                    <a href="/work/print-theme/">
                        <figure class="figure--hover">
				<div class="figure__featimg">
	                            <img src="/assets/images/printtheme.thumb.jpg" srcset="/assets/images/printtheme.thumb.jpg 320w, /assets/images/printtheme.png 700w" sizes="(min-width:800px) 320px, calc(100vw-1.5rem)" alt="Print Theme" loading="eager" width="320" height="220">
				</div>
                            <figcaption>Print Theme</figcaption>
                        </figure>
                    </a>
                
                    <a href="/work/nintendo-hub/">
                        <figure class="figure--hover">
                            <div class="figure__featimg">
				<img src="/assets/images/nintendohub.thumb.jpg" srcset="/assets/images/nintendohub.thumb.jpg 320w, /assets/images/nintendohub.jpg 700w" sizes="(min-width:800px) 320px, calc(100vw-1.5rem)" alt="Nintendo Hub" loading="eager" width="320" height="220">
			    </div>
                            <figcaption>Nintendo Hub</figcaption>
                        </figure>
                    </a>
                
                </div>

                <section class="wrap-content wrap-all">
                    <div>
                        <h2>My Work</h2>
                        <p><strong>Web, UI, Graphics, Print.</strong></p>
                        <p><a href="/work/" class="button">All Work</a></p>
                    </div>
                    <div>
                        {{ content }}
                    </div>
                </section>
                
                <section>
                    <h2>My Posts</h2>
                    <p><strong>My thoughts on web design and more&hellip;</strong></p>
                    <p><a href="/blog/" class="button">All Posts</a></p>
                </section>        
                
                <aside>
                    <article class="wrap-preview">
                        {% assign latestpost = site.posts.first %}
                        <h1 class="wrap-preview--title"><a href="{{ latestpost.url }}">{{ latestpost.title }}</a></h1>
                        {% if latestpost.thumb %}
                            <a href="{{ latestpost.url }}" class="wrap-preview--image" tabindex="-1">
                                <div class="figure__featimg">
                                    <img src="{{ latestpost.thumb }}" alt="{{ latestpost.alt }}" width="320" height="220" loading="lazy">
                                </div>
                            </a>
                        {% endif %}
                        <p>{{ latestpost.excerpt | strip_html }}</p>
                        <p><a href="{{ latestpost.url }}" class="button" tabindex="-1">Read Post</a></p>
                    </article>
                </aside>
        
            </article>
        
        </main>
        
        {% include socialicons.html %}

        {% include footer.html %}

    </div>

</body>
</html>
