---
layout: default
---
<div class="home">
  {% if page.title %}
    <h1 class="page-heading">{{ page.title }}</h1>
  {% endif %}

  {{ content }}

  {% if site.posts.size > 0 %}
    {% if page.list_title %}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {% endif %}
    <ul class="post-list">
      {% for post in site.posts %}
      <li class="{% if post.ai_generated %}ai-generated{% endif %}">
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {% if site.show_excerpts %}
          {% if post.ai_generated %}
          <p><em>
            {% if post.language == "de" %}
              Dieser Artikel ist vollständig durch KI generiert.
            {% else %}
              This article is completely AI generated.
            {% endif %}
          </em></p>
          {% endif %}
          {% if post.tts %}
            <audio src="{{ post.tts.url | relative_url }}" controls></audio>
            {% if post.tts.duration and post.tts.size %}
              {% if post.language == "de" %}
              <p>Dauer: {{ post.tts.duration }} | Größe: {{ post.tts.size }}</p>
              {% else %}
              <p>Duration: {{ post.tts.duration }} | Size: {{ post.tts.size }}</p>
              {% endif %}
            {% endif %}
          {% endif %}
          {{ post.excerpt }}
        {% endif %}
      </li>
      {% endfor %}
    </ul>
    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {% endif %}
</div>
